[2013-12-16 01:06] dlebauer opened #4 "Add biofuel GHG and energy balance"
First need to find data

[2013-12-19 20:19] dlebauer opened #5 "Organize netcdf files"
The netcdf files are disorganized and split up, which fails to take advantage of the format. We need to document the data and combine data sets into a single file that is easy (quick and logical) to read.

The data are here: https://github.com/ebimodeling/ghgvc/tree/master/netcdf

Presumably the metadata are in [app/controllers/workflows_controller.rb](https://github.com/ebimodeling/ghgvc/blob/mas

[2014-01-04 22:03] dlebauer opened #11 "Determine where we will put inputs and outputs"
some working directory can be assumed, then add `run` and `out` subdirectories.

these can be set in the [`config.xml`](https://github.com/ebimodeling/ghgvcR/blob/master/inst/config.xml) as 1st level tags `rundir` and `outdir`, consistent with the use in [PEcAn settings file (see wiki:)](https://github.com/PecanProject/pecan/wiki/PEcAn-Configuration#run-setup)

When we want to save old runs, we ca

[2014-01-04 22:24] dlebauer opened #13 "Add ability to select biogeochemical and/or biophysical calculations"
Krista - please define this issue. In your "Calculator Cleanup powerpoint, you had the following comment:

Apparently Carl removed these, and now we need to get them to work and add them back again.

Presumably, this would be an argument passed to the R script doing the calculation, and would affect what ends up in the figures and tables.

[2014-01-07 00:21] dlebauer opened #16 "Adding additional locations"
The first step is to add instructions to the web-page, like

Later, we can discuss implementing a wizard with Krista and Evan..

[2014-01-07 01:30] carlcrott opened #17 "Sourcing of raw CSEP input data needs consolidated + completed"
per commit: 86b98a6e26ab5d0692c1664ea722e0a97d84da72

The *.json files containing the raw CSEPs ( "category" ,"T_A" ,"T_E", "OM_ag" ) were moved to a publicly available dir in ghgvc/public/data/* to simplify routing.

1) All references to these files should be changed to the ghgvc/public/data/* dir ( this should be all but complete )

2) Different biomes will have different CSEPs and this causes i

[2014-01-08 03:14] dlebauer opened #18 "write site lat, lon to *config.xml file"
Please write `<lat>` and `<lon>` tags as children of the `<site_*_data>` tags in the config.xml files.

This will enable completion of https://github.com/ebimodeling/ghgvcR/issues/4

[2014-01-08 04:11] dlebauer opened #19 "each run should have a single value for "T_E""
T_E appears to be the duration over which the values are calculated, and has a default of 50 years.

Currently, some biomes have this tag (under `<ghgvc><site_1_data><pft>`), but this should only be given once under the `<ghgvc><options>` tag, not separately for each pft.

[2014-01-09 04:54] teixeirak opened #21 "Allow site selection by entering lat-long"
It would be very helpful to be able to select sites by entering latitude/ longitude. I was using it to calculate values for some specific sites (with lat-long coords), and selecting these sites was difficult/ time consuming.

[2014-01-09 05:02] teixeirak opened #22 "Name & Save Locations/ Runs"
- [ ] Allow users to name and save sites

The previous version of the calculator allowed users to name and save their sites, which is a very helpful feature if you're carefully selecting and editing your sites.  This was done by tracking IP address, I believe. This is a more long-range development goal.
- [ ] Store sites in ForC database

A related improvement-- It would  be great to allow the opt

[2014-01-09 05:24] dlebauer opened #23 "change code to use csv output from ghgvcR"
Currently, there is code in the workflows_controller or workflows.js that convert output.json to csv. This produces an incorrect format (as described in [ghgvcR issue 4](https://github.com/ebimodeling/ghgvcR/issues/4)).

The fixes to the table format in that issue requires that the output.csv generated by the R script (that will be written to `outdir` be downloaded via the web interface.

[2014-01-10 22:43] teixeirak opened #27 "Incorporate spatially explicit biophysical values for agroecosystems"
We're not getting biophysical values for any of the crops. I'm not sure why not, but this should be done for the next demo.

Current: The calculator currently has average (non-spatial) biophysical values for at least some of these crops, which were implemented as a quick fix before a calculator demo.

TODO:
- [ ] enable calculator to use biophysical values (Rnet and LE) for 4 crop types in North A

[2014-01-24 19:58] dlebauer opened #36 "re-implement map in R shiny server"
This is a proposal that would replace gh-25 and give scientists more control over the mapping application, and reduce dependency on the google maps api that seems rather difficult to implement.

Here is an example of such an interface: http://glimmer.rstudio.com/jcheng/leaflet-demo/

This feature would be used by ghgvc as well as [PEcAn](https://github.com/PecanProject/pecan), and [BETYdb](https:/

[2014-02-10 16:29] jhprobert opened #41 "Biome Map (which was removed) re-appears at random"
The Biome Map appears somewhat at random when placing different pushpins on the globe. I have noticed this occurs after selecting the South Pole, bodies of water, and increasing/decreasing the magnification on the map. The Biome Map appears all over the globe.
1. Africa
![africa](https://f.cloud.github.com/assets/6640359/2127561/69bf1534-9270-11e3-9738-142e845d2dd9.png)
2. Planet
![world](https://

[2014-02-10 16:37] jhprobert opened #42 "Biomes are sometimes available for selection in water bodies."
UPDATE

The part about clicking in the middle of the ocean has been resolved [(comment below)](https://github.com/ebimodeling/ghgvc/issues/42#issuecomment-235161502) except for locations very near shore. The remaining work is to add a high resolution mask to filter any points on the water rather than using the lower resolution grid on which the data are provided.

---

There have been some instanc

[2014-02-10 16:42] jhprobert opened #43 "Biomes sometimes are listed twice at a single location."
There are some cases where multiple biomes are available for selection.
1.  At (37.47, -78.29), there were multiple repeats of temperate pasture, temperate cropland, micanthus, switchgrass, US corn, soybean.
![multiple biomes 1](https://f.cloud.github.com/assets/6640359/2127703/ee34981a-9271-11e3-934e-10ae2362fadc.png)
2. At (26.43, -80.93), there is a repeat of selections in both the native and t

[2014-02-24 16:13] jhprobert opened #44 "Internet explorer outputting the same biomes regardless of biome selection"
I am using Internet Explorer for the calculator. I initially made two selections when running the simulation, tropical savannah and sugarcane. These results are not changing. In image 1, I have placed a pushpin in a desert. It allows me to select, but the values remain the same.
![image](https://f.cloud.github.com/assets/6640359/2247373/00992834-9d6e-11e3-9976-98876a50e3a6.png)

In image 2, I have

[2014-02-27 07:59] dlebauer opened #51 "rails permissions"
the rails app does not appear to be writing out an output.json file

perhaps insufficient permissions?

as a result, I get this error when running the calculator:
[code]

[2014-04-09 21:47] teixeirak opened #55 "Fixes to user-downloadable CSV file."
The .csv file needs two minor fixes:
1) include latitude, longitude
2) include units in column headers. Units for all are:  [Mg CO2-eq ha-1 X yrs-1], where X =T_A.

[2014-04-22 11:31] teixeirak opened #56 "incorrect plotting of GHGV terms"
When I run tropical pasture, v sugarcane, v soy, all come up with negative
storage. All storage be positive.
It looks like the storage and flux terms are switched on the graph.  If
you download the csv file, they're correct.  Interestingly, they are also
correct if tropical forest is checked, which must mean the plotting is
done differently depending on if a native ecosystem is included..

[2014-08-18 17:32] dlebauer opened #57 "list names and units of variables that we currently access"
As part of gh-5 I have added notes made by @hmb1 to [netcdf/variables.csv](https://github.com/ebimodeling/ghgvc/blob/master/netcdf/variables.csv) in 31356cbfbbf5c7e2d254ccda19fb528d4d110dfb.

Please add the variable names and units to this file.

[2014-08-18 17:40] dlebauer opened #58 "Move netcdf driver data a data storage service (e.g. Box)"
As files are reorganized (gh-5), move and commit them to the [ghgvc-data](https://github.com/ebimodeling/ghgvc-data) repository

[2014-08-19 15:40] dlebauer opened #59 "Create biome map mask/ Selection of biomes map"
We currently have the following maps for biome-type (in netcdf/GCS/biomes):

[code]

Options

1. Combine these into a single file with "Biome" as an integer value
2. Use SynMap: http://www.sciencedirect.com/science/article/pii/S0034425706000514
3. Use this combination of Hurt et al  might work (it is on a 0.5 degree grid): ftp://nacp.ornl.gov/synthesis/2009/frescati/model_driver_spinup/global/land

[2014-10-23 00:00] teixeirak opened #62 "Calculator gives incorrect output- same every time"
This is a similar problem to one that was recently fixed. No matter what biome is selected, the calculator gives output for the same two ecosystems

![screen shot 2014-10-22 at 7 55 33 pm](https://cloud.githubusercontent.com/assets/6355854/4746301/6a620132-5a47-11e4-9dfb-eff165147f72.png)

[2015-01-15 17:34] dlebauer opened #63 "ghgvc-dl deployment not working"
This may have been messed up by changing owner of the directory from 'nobody' to 'hmb'

[2015-01-15 17:38] dlebauer commented on #63
from @gsrohde (with revisions for clarity):

Here are the details about what I have set up for @hmb1 :

1. The files are at /usr/local/hmb-ghgvc/ghgvc and /usr/local/hmb-ghgvc/ghgvcR.
2. important: I didn’t manage to get things working with the usual sub-URI configuration in Apache/Passenger.  So, for now at least (and let me know if you want me to try working on this further), I have deployed to

[2015-01-15 17:39] dlebauer commented on #63
@hmb1 can you please check that the server is running as expected? As mentioned above, if you have further issues, please create a new issue and assign to either me or @gsrohde

[2015-01-16 17:48] gsrohde commented on #63
UPDATE: I changed the hmb deployment to run in the development environment.  This will allow @hmb1 to see changes simply by refreshing the browser (including Javascript changes) instead of having to restart passenger or apache and/or clear the cache or recompile assets.  In fact, I removed the compiled assets (public/assets) also, since they aren't needed in development mode.

I also got the dl-gh

[2015-01-17 11:25] hmb1 commented on #63
Hi Scott,
  have you got the IP for   www.ecosystemservicescalc.dl  ?  I tried the IP you mentioned earlier 128.174.127.81 but this did not go anywhere. SOrry for being so dim.
 Regards Henry

[2015-01-17 11:51] hmb1 commented on #63
Hi Scott,
  have got the hmb instance going - thank you

[2015-02-03 22:29] teixeirak commented on #13
now covered in issue #12.

[2015-02-03 22:29] #13 closed

[2015-02-03 22:32] teixeirak commented on #62
This is fixed, unless there's some underlying bug that still needs attention.

[2015-02-03 22:32] #62 closed

[2015-02-03 22:40] teixeirak commented on #59
As I understand this issue, the first step is selecting our primary biomes map. There are many options, but I suggest the FAO ecozones (which we have already procured for this project) because it is a fairly standard way of defining biomes-- used by IPCC and others. This gives the advantage of easy comparison with policy and existing values that could be used as defaults (e.g., IPCC 2006 guidance

[2015-02-03 22:46] teixeirak commented on #36
Fine with me.

[2015-02-03 22:53] teixeirak commented on #27
To summarize this issue,
1. We have maps from Peter Snyder giving biophysical values (Rnet and LE) for 4 crop types in North America (corn, soy, miscanthus, switchgrass) and 2 in Brazil (soy and sugarcane). These are associated with bare ground baseline maps which may not be identical to the global one currently implemented in the calculator (because they're from AgroIBIS, not IBIS). None of these

[2015-02-03 22:55] teixeirak commented on #19
related to issue #12

[2015-02-03 23:07] teixeirak commented on #59
If we decide to use the FAO ecozones map, we will need to also load a land cover map to distinguish barren zones in the "desert" and "polar" categories from tundra and desert with vegetation. We already have an appropriate map in the archives, which Wes obtained it from the IPCC (will have to research original source):
![land cover](https://cloud.githubusercontent.com/assets/6355854/6031610/e0a0ca

[2015-02-03 23:10] teixeirak opened #64 "Prepare new default data for all biome types"
Once we have selected a biomes map (issue #59), we will need corresponding default data. This is a placeholder so that the issue is on our list.

[2015-02-03 23:17] teixeirak opened #65 "Identify and load additional maps"
Maps that we have already identified as potentially interesting include the following:

- [ ] US biomass map from FIA (we have had trouble with this in the past): http://www.whrc.org/mapping/nbcd/
- [ ] Canada biomass map
- [ ] (Baccini et al., 2012) tropical biomass map, available here: http://www.arcgis.com/home/item.html?id=2332b43bc5454127bfde21e894c89a51
- [ ] other regional biomass maps, if

[2015-04-14 20:10] #63 closed

[2015-05-22 15:45] dlebauer opened #67 "Add treatment of forest age"
(requires modification to R code, data from ForC)

[2015-05-22 15:47] dlebauer commented on #67
@teixeirak please define this task

[2015-05-22 15:50] dlebauer opened #68 "fix peatlands"
@teixeirak please define task here

[2015-05-22 15:57] dlebauer commented on #17
replaced by #27

[2015-05-22 15:57] #17 closed

[2015-05-22 16:01] dlebauer commented on #56
Example:

![image](https://cloud.githubusercontent.com/assets/464871/7774525/ad5b5120-0071-11e5-8a5c-a437a708100f.png)

csv is here: https://gist.github.com/dlebauer/0fc5a16c963d9d9715bb

[2015-05-22 23:02] teixeirak commented on #67
I will define this task when we're ready to work on it.

[2015-05-22 23:12] teixeirak commented on #68
On my to-do list. For now, please just remove the option.

[2015-08-31 15:09] hmb1 opened #69 "test"
I have set up a kind of test harness for checking that any changes  i make to :
 app/controllers/workflows_controller.rb
 Basically I run  my version of the calc on pecandev  thats ( http://www.ecosystemservicescalc.hmb )
 I then pick up the command line parameters that get_biome have been called  with ( ./ghgvc/log/development.log )
 Then  run the following command in a shell script

curl  --data

[2015-09-10 14:50] dlebauer opened #70 "Refactor R code to read / use netcdf directly (bypassing Ruby code)"
The ruby code used to extract data from netcdf files is hacky and needs to be revised. Likely, R is better equipped to handle this. There are many R functions in github.com/pecanproject/pecan R packages for extracting and writing netcdf using the package `ncdf`.

The overall functionality we need to keep

1. user selects location (ruby interface)
2. location is passed to R
3. R queries and returns

[2015-09-10 21:09] potterzot commented on #70
@dlebauer I'd be interested in taking this on if I seem like a good fit. Here are my initial thoughts:

If you want to transfer the ruby code to R, much of the specific netcdf data fetching could be rewritten into a generic function fairly easily, something like:

    #psuedo R code to access netcdf data
    #' @importFrom ncdf open.ncdf get.var.ncdf
    #' @export
    #'
    #' @param ncdf_url (c

[2015-09-11 16:54] dlebauer opened #71 "Better handling of large inputs / outputs for workflows controller?"
I have set up a kind of test harness for checking that any changes  i have made changes to the app/controllers/workflows_controller.rb

When I run  my version of the calculator on pecandev  thats ( http://www.ecosystemservicescalc.hmb ),
 I pick up the command line parameters that get_biome have been called  with ( ./ghgvc/log/development.log )

 Then  run the following command in a shell script

[2015-09-11 16:55] dlebauer commented on #71
@hmb1 are your changes on a particular branch?

[2015-09-12 15:37] Autodidact24 commented on #70
Hi @dlebauer,
I would like to work on this. The Ruby implementation is a bit hacky and hard to read. Using R/Python makes it easier to read and write netCFD files. There are R packages to read, index, slice netCFD data.
Only a few features ("lat", "lon") need to read and manipulated.

[2015-09-29 19:31] dlebauer commented on #5
List of combined files are here: https://gist.github.com/dlebauer/7cc778317e45bb36a74b

@hmb1 did the following

* combined files with multiple variables into a subset of files
  * here is a list of files and variables https://gist.github.com/dlebauer/7cc778317e45bb36a74b
  * previously, each lookup of a value required the same find nearest neighbor [app/controllers/workflows_controller.rb](https:

[2015-10-01 09:24] hmb1 commented on #5
Hi David,
   uploaded yesterday to my user on pecandev *saatchi_final.nc* which is
a combination of america/africa/asia
   I checked it with ncdump & ncks
   ....Henry

On 29/09/15 20:31, David LeBauer wrote:

[2015-10-06 16:16] dlebauer commented on #5
I've made these data available on box at https://uofi.box.com/saatchi-ncdf

I've also removed refactoring code from the scope of this issue - that is covered in #70

[2015-12-09 16:38] Yuanchao-Xu commented on #70
Hi @dlebauer ,

I just happend to see this, and it seems one of functions from my package "hyfo" can solve this problem. (getFrcEnsem from hyfo).

Description of the function can be found [here](https://cran.r-project.org/web/packages/hyfo/hyfo.pdf)

[2015-12-09 19:47] dlebauer commented on #70
@Yuanchao-Xu Thanks! I'll leave it to @potterzot to decide if he will use this here, but it definitely seems a good fit for github.com/pecanproject/pecan (@pecanproject/pecan-developers); perhaps also useful for  github.com/terraref/computing-pipeline

[2015-12-09 20:42] Yuanchao-Xu commented on #70
@dlebauer My pleasure, if needed, I can make some improvements for special cases.

[2015-12-09 20:57] potterzot commented on #70
@Yuanchao-Xu Cool, thanks! I'll have to have a deeper look but could be useful. Your [ncdf](https://github.com/Yuanchao-Xu/hyfo/blob/master/R/ncdf.R) functionality in particular could be useful. Are you converting to ncdf4 any time soon?

[2015-12-09 22:08] Yuanchao-Xu commented on #70
@potterzot yes I can transfer to ncdf4, but according to the discussion with the author of the ncdf4, it has to be installed from source on CRAN, i.e., in order to use it, you have to install the C library as well, which is not so easy for the users to install, so I turn to ncdf instead. However, if for special case, and no need to consider the convenience for normal users, I can convert to ncdf4,

[2015-12-09 22:43] potterzot commented on #70
@Yuanchao-Xu Sure, just a thought really. Recently converted the [rnoaa](https://github.com/ropensci/rnoaa) package (not that I am a maintainer, I just wrote a small part of it) to ncdf4 b/c binaries are now available on windows.

We've already got netcdf functionality both here and in rnoaa/R/gefs.R and it probably doesn't make sense to rewrite at the moment, but I would definitely love a standar

[2015-12-09 23:30] dlebauer commented on #70
I haven't worked much with ncdf but according to the [ncdf package description it is being deprecated](https://cran.r-project.org/web/packages/ncdf/index.html).

[2015-12-09 23:59] Yuanchao-Xu commented on #70
@dlebauer @potterzot  OK I'll try to do it, is there a deadline or sth?

[2015-12-10 01:53] Yuanchao-Xu commented on #70
@dlebauer @potterzot  OK, done. I've transferred all the related functions from ncdf to ncdf4. It passes travis(Linux) and windows check. While for some special case with ncdf4 files, more changes will need to be made, e.g. writing version4 ncdf file. But that can be modified with future cases. Right now I don't have any version4 file at hand....I cannot test...

[2015-12-10 05:13] dlebauer commented on #70
I think this is netCDF 4 https://github.com/PecanProject/pecan/blob/master/models/biocro/tests/testthat/data/urbana_subdaily_test.nc

[2015-12-11 16:12] dlebauer commented on #70
@Yuanchao-Xu here are a few more netcdf-4 files: http://file-server.igb.illinois.edu/~dlebauer/met/narr/threehourly/

[2015-12-12 01:01] Yuanchao-Xu commented on #70
OK，I'll have a look at it asap~

[2015-12-15 16:38] Yuanchao-Xu commented on #70
@dlebauer  @potterzot Right now it should work with version 4 file for both loading and writing. But there is one problem about your version 4 file. For some variables like "crs" and "lat_bnds" , there are only two dimensions inside the file, I don't quite understand what these variables are for.

[2015-12-31 16:08] teixeirak opened #72 "Graphing problem, detected 12/31/15"
I just detected a graphing problem; no values are appearing on the graph, as in the attached image. I'm seeing this on a Mac- both Firefox and Safari.

![untitled](https://cloud.githubusercontent.com/assets/6355854/12065977/63997016-afae-11e5-9195-b1da81a45c18.png)

[2015-12-31 18:34] dlebauer commented on #72
I just reproduced the issue.

## What works:

* The .csv file is generated, and has sensible values for tropical forests
* other ecosystems work. When I select a site with Tropical forests and crops as options, the bars for the other ecosystems show up, but the tropical forest system does not.

## What doesn't work:

* Although the csv file has the required values, the bar on the plot is not print

[2015-12-31 18:40] teixeirak commented on #72
If a temporary fix to the old code would be fast, it may be worthwhile. I just submitted a progress report/ extension request to the Smithsonian Women's Committee, and its possible that they'll look at it. Of course, what's really important is having it right in the revised version.

[2015-12-31 20:22] dlebauer commented on #72
In principle it should be an easy fix. The difficult and daunting parts are
that it might not be easy, it might take some time to become familiar with
the old code and its hacks, and if we touch the code other errors might pop
up. The new version should make all of these issues much less of an issue
because we are cleaning up the quagmire of hacks. Thus my recommendation is
that unless it is absol

[2015-12-31 22:34] teixeirak commented on #72
Ok.

On Dec 31, 2015, at 3:22 PM, David LeBauer wrote:

In principle it should be an easy fix. The difficult and daunting parts are
that it might not be easy, it might take some time to become familiar with
the old code and its hacks, and if we touch the code other errors might pop
up. The new version should make all of these issues much less of an issue
because we are cleaning up the quagmire of

[2016-02-16 22:42] dlebauer opened #73 "(development branch) Clicking on map: no pin placed and no locations added"
note: this is only on the [development branch](http://github.com/ebimodeling/ghgvc/tree/development)

When I click on the map of the application running on the development branch, nothing happens and the website looks like this:

<img width="350" alt="screen shot 2016-02-16 at 4 38 02 pm" src="https://cloud.githubusercontent.com/assets/464871/13093590/c911818a-d4cb-11e5-8c48-a82a2e393835.png">

--

[2016-02-16 22:47] potterzot commented on #73
Hi David - I'd say let me take a look at it first. I will have some time
tomorrow that I can investigate and get back to you.

---------------------
Nicholas Potter
http://potterzot.com

On Tue, Feb 16, 2016 at 2:42 PM, David LeBauer <notifications@github.com>
wrote:

[2016-02-19 21:16] potterzot commented on #73
Had to make a few housekeeping fixes. The ghgvc site is back to working locally. New commits have been pushed to the development branch of both ghgvc and ghgvcR. More information in the commit logs of each, but basically just grammatical fixes to function calls.

Note that if the rails server is run in development mode the location of the netcdf files needs to be changed in [workflows_controller.r

[2016-02-24 21:44] dlebauer commented on #73
@gsrohde can you tell me what would be required to update this on pecandev?

[2016-02-25 01:04] gsrohde commented on #73
If you mean deploying the updated development branch code, it just means updating the ghgvc and ghgvcR working copies and restarting the Rails server—in other words, doing a `git pull` in both the `/usr/local/ghgvc-development/ghgvcR` directory and the `/usr/local/ghgvc-development/ghgvc` directory, and then doing a `touch tmp/restart.txt` in the `/usr/local/ghgvc-development/ghgvc` directory.  Th

[2016-03-04 19:16] dlebauer commented on #73
I've run this on pecandev and still no points drop.

@gsrohde could you please test this out?

[2016-03-04 19:33] gsrohde commented on #73
@dlebauer OK, I'll take a look.  I'm going to play around with the code deployed at  www.ecosystemservicescalc.dev.  I'm assuming this is not going to interfere with anyone else's work.

[2016-03-04 23:35] gsrohde commented on #73
@dlebauer Here's what I've found so far:

Beginning with commit version 68b770, the Rails action WorkflowsController#get_biome (which is called when you try to drop a pin) has been gutted and basically changed to be a wrapper around a system call to R that is supposed to do the real work.

The system call starts out like this:
[code]
Presumably the Ruby instance variable `@ghgvcR_instantiation_pat

[2016-03-06 23:42] dlebauer commented on #73
Nick - can you move this forward? Please set up call with Scott if
necessary
On Fri, Mar 4, 2016 at 5:35 PM Scott Rohde <notifications@github.com> wrote:

[2016-03-07 00:40] potterzot commented on #73
get_biome.R is here:
https://github.com/ebimodeling/ghgvcR/tree/development/inst/scripts

It may be that your Ruby config doesn't point to the right directory that
contains the R scripts.

If that doesn't fix it, maybe we can have call tomorrow to work through it?
I could do 5pm Central, or for a short while at 2pm Central.

---------------------
Nicholas Potter
http://potterzot.com

On Fri, Mar 4

[2016-03-07 18:44] gsrohde commented on #73
@potterzot `get_biome.R` is indeed where it is supposed to be—I must have had the ghgvcR working copy on the wrong branch.  But all of the other problems I mention are still there.

I could do a call at 2pm or, for a short while at least, at 5.  Tomorrow is pretty much open too.  My number is (217) 244-0006, or if you prefer, I could call you.

[2016-03-07 18:50] gsrohde commented on #73
@potterzot Short of a call, one thing to try is adding a debug line
[code]
after line 225 of the file `workflows_controller.rb`, and then sending me the text of the R command that runs successfully on your local copy.  I can then try to see if I can get it running on my machine.

[2016-03-07 19:17] dlebauer commented on #73
also, note that you should be able to find and execute to the correct (most recently installed) version of `get_biome.R` in R using:

[code]

this can be executed within R on the command line as

[code]

and can be executed from the bash shell as

[code]

[2016-03-07 19:47] gsrohde commented on #73
This is the result of executing in R:
[code]
But I'm assuming you have to run the script _with arguments_.  That's what I want from @potterzot: A sample call _with arguments_ that actually runs successfully.

[2016-03-07 23:05] potterzot commented on #73
The script call is in workflows_controller.rb. There is a line there that
calls get_biome.R with the associated arguments. I don't think I'm going to
get a chance to call today, and tomorrow I have to drive to seattle for an
ortho appt. I'll take a detailed look at it tonight and send you a working
example call, and then maybe we can set up a call for Wednesday.

---------------------
Nicholas Pot

[2016-03-08 06:27] potterzot commented on #73
Hi Scott,

Just double checked and the app runs on my laptop without problems, but
looking deeper, I found that it was working because there was a
"biome.json" file that it was reading as if the get_biome.R script had
successfully run.

I've pushed updates to both repos that work on my laptop, deleting the
biome.json file first (this gets deleted on the actual server right? I
assume it's tied to a

[2016-03-08 17:35] gsrohde commented on #73
@potterzot I'm not seeing anything new at https://github.com/ebimodeling/ghgvc or https://github.com/ebimodeling/ghgvcR.  Are you sure you pushed your updates and to the right place?

[2016-03-08 21:05] potterzot commented on #73
@gsrohde you are entirely right. "git push origin master" is becoming a
little too habitual...

---------------------
Nicholas Potter
http://potterzot.com

On Tue, Mar 8, 2016 at 9:35 AM, Scott Rohde <notifications@github.com>
wrote:

[2016-03-09 02:50] gsrohde commented on #73
@potterzot OK, I pulled the changes.  Now at least running the R code is attempted.  But I still get an error:
[code]
(Then later, of course, the Rails code errors out because `tmp/run/biome.json` can't be found.)  I saw this error about "missing" earlier, when I tried to patch up the code myself.

[2016-03-09 17:11] potterzot commented on #73
Did you also rebuild the ghgvcr package? That error is in the get_biome()
function but should have been fixed. I don't see a "out_dir" at all in any
of the source files at this point, and "missing(out_dir)" was changed to
"missing(output_dir)" to match the function parameter name, but it won't
pick that up unless the package is also reinstalled.

---------------------
Nicholas Potter
http://potter

[2016-03-10 16:40] gsrohde commented on #73
@potterzot I'm not very familiar with R.  How do I rebuild the package?

[2016-03-10 16:47] dlebauer commented on #73
@gsrohde

[code]

Though you need to make sure that Ruby and you are installing into the the same R library (which it should by default if you don't have a custom library (e.g. `$R_LIBS_USER` environment var or `lib.Paths()` in `~/.Rprofile`.

I think at this point it would be useful for you and I to sit down. I'd like to learn how to run this thing on my OSX if its not too difficult. Then I can h

[2016-03-10 18:32] dlebauer commented on #73
this is what I did

[code]

then opened ecosystemservicescalc.dev and clicked and see this error in the log:

[code]

So I think we are missing the saatchi.nc file, and therefore the biome.json file is not created.

[2016-03-11 18:15] dlebauer opened #74 "Missing ghgv.json"
After fixing #73 , the next error comes from ghgvcR: the file `tmp/out/ghgv.json` is not found.

[code]

[2016-03-11 18:16] dlebauer commented on #73
Nick pointed out that the saatchi file was at /home/hmb/saatchi_final.nc. It is 7 GB so won't fit in the repository (we need to come up with a place to store these files to facilitate deployment). I've put the saatchi file in the right place

[code]

Now the button is placed ... but stay tuned for the next error. #74

[2016-03-11 18:16] #73 closed

[2016-03-12 19:52] potterzot commented on #74
@dlebauer it looks like maybe /usr/local/ghgvc-development/ghgvc/tmp/out/
doesn't exist?

ghgv.json is written by the calc_ghgvc.R script, and it looks like R can't
find that directory. Hard to tell without seeing it.

---------------------
Nicholas Potter
http://potterzot.com

On Fri, Mar 11, 2016 at 10:15 AM, David LeBauer <notifications@github.com>
wrote:

[2016-03-13 00:01] gsrohde commented on #74
@potterzot `/usr/local/ghgvc-development/ghgvc/tmp/out/` _does_ exist.  Just to clarify, the pin drops now work (though after about a 4s delay).  The `No such file or directory` doesn't actually occur until you press "Run Calculator".

[2016-03-14 19:01] potterzot commented on #74
Should be fixed with [commit 4597fa0](https://github.com/ebimodeling/ghgvcR/commit/4597fa04bfe31149cd0f5984c7c28578767ee236) now. The biome() function in ghgvcR was erroneously creating "native_eco" as an option instead of saving those values to the "native_eco" ecosystems. There should never be an native_eco option to select.

Fingers crossed...

[2016-03-15 15:45] gsrohde commented on #74
@potterzot I updated the ghgvcR tree, but I still get the `No such file or directory - /usr/local/ghgvc-development/ghgvc/tmp/out/ghgv.json` error (and the application hangs) when I press "Run Calculator".

[2016-03-15 16:06] potterzot commented on #74
You'd have to do a build again: `R CMD INSTALL ghgvcR` or something like
that.

---------------------
Nicholas Potter
http://potterzot.com

On Tue, Mar 15, 2016 at 8:45 AM, Scott Rohde <notifications@github.com>
wrote:

[2016-03-15 19:05] gsrohde commented on #74
Good catch.  But I tried this and I still get the same error.

[2016-03-17 00:48] potterzot commented on #74
Hi Scott - I haven't forgotten about this, I just have an imminent
deadline. I'll try to look at it this evening.

---------------------
Nicholas Potter
http://potterzot.com

On Tue, Mar 15, 2016 at 12:05 PM, Scott Rohde <notifications@github.com>
wrote:

[2016-03-21 16:22] potterzot commented on #74
@dlebauer @gsrohde I spent some time looking into this over the weekend, and I can't reproduce this bug on my side. Even if I delete the ghgv.json file, it gets recreated when I run the app. A few ideas on what could be going on:

**1. The latest ghgvcR package is not installed or not being called**
The `ghgvc()` function by default saves it's output to a file called "ghgv.json", the missing file

[2016-03-21 16:41] dlebauer commented on #74
@potterzot I can give you access to pecandev, but the important thing is that ghgvc can be configured on any server - so if you can test it on either a CentOS or Ubuntu VM that would be great. The https://github.com/ebimodeling/ghgvc/blob/master/ghgvc.sh script should automate the install (or at least get you most of the way there; will probably need at least to add download of the saatchi.nc file

[2016-03-21 18:18] potterzot commented on #74
@dlebauer Sure, that sounds like a good option, and will allow me to
document the steps to update the script and install readme.

---------------------
Nicholas Potter
http://potterzot.com

@potterzot <https://github.com/potterzot> I can give you access to
pecandev, but the important thing is that ghgvc can be configured on any
server - so if you can test it on either a CentOS or Ubuntu VM that wo

[2016-03-31 02:26] potterzot commented on #74
@dlebauer and @gsrohde, here is a [working example](http://ec2-52-38-133-219.us-west-2.compute.amazonaws.com/).

I've added an INSTALL.md file to ghgvc development branch, and also updated the ghgvc.sh install script to work with CentOS.

I found the problem iin the nginx logs, which was a missing "/" in app/controllers/workflows_controller.rb that only came into play when the server was running i

[2016-03-31 02:48] dlebauer commented on #74
Great, but I am not seeing plots or csv downloads .... Are you?

[2016-04-01 16:22] potterzot commented on #74
I thought from a previous conversation that the plots had not been working
for some time, before I started. I haven't done any work on either the
plots or the csv part of things, but I'll take a look at it today.

---------------------
Nicholas Potter
http://potterzot.com

On Wed, Mar 30, 2016 at 7:48 PM, David LeBauer <notifications@github.com>
wrote:

[2016-04-01 16:32] dlebauer commented on #74
There is a bug (#72) where plots aren't generated if there is only one site
being compared but otherwise the plotting and csv generation works on the
http://www.ecosystemservicescalc.org
On Fri, Apr 1, 2016 at 11:22 AM Nicholas Potter <notifications@github.com>
wrote:

[2016-04-01 16:34] dlebauer commented on #74
![image](https://cloud.githubusercontent.com/assets/464871/14213463/afa45e5c-f7fd-11e5-8463-828ddb3e7e1c.png)

[2016-04-01 19:19] potterzot commented on #74
I see. Thanks I'll look into it.

---------------------
Nicholas Potter
http://potterzot.com

On Fri, Apr 1, 2016 at 9:32 AM, David LeBauer <notifications@github.com>
wrote:

[2016-04-05 00:09] potterzot opened #75 "Chart errors"
@dlebauer In the development version of ghgvc, there are 5 charts for which no values are plotted. These charts are different from the 3 that are currently displayed at http://ecosystemservicescalc.org.

The charts are created in [calculator.js](https://github.com/ebimodeling/ghgvc/blob/development/app/assets/javascripts/calculator.js), and it looks like the data used to be passed to a "run.php" s

[2016-04-05 00:10] potterzot commented on #74
@dlebauer the csv download is working. I've created a separate [issue for the charting](https://github.com/ebimodeling/ghgvc/issues/75). I can continue to work on it, but I *think* that the problem is a javascript problem.

[2016-04-05 01:16] dlebauer commented on #75
The js charts are deprecated in favor of the plots generated by R. I suspect that the old plumbing remains, but that calculator.js is obsolete.

[2016-04-07 17:25] potterzot commented on #75
Hoping to get this done tomorrow, it shouldn't take long to port over. I think the original R code for the plots is in [ghgvc_script.R](https://github.com/ebimodeling/ghgvcR/blob/master/src/ghgvc_script.R) starting at line 100.

[2016-04-08 19:41] potterzot commented on #75
@dlebauer Should be fixed. A working [demo is available](http://ec2-52-38-133-219.us-west-2.compute.amazonaws.com/).

[2016-04-08 19:41] #75 closed

[2016-04-09 13:28] teixeirak opened #76 "Fix scrambled ecosystem types"
Ecosystem types are scrambled, both in terms of options displayed for a given location and what’s displayed in the output.

Regarding options displayed, I can click on a given location (e.g., the Amazon) and get what seems to be a random assortment of ecosystem options (boreal forest, temperate forest, desert, etc). I can't make out any pattern to this error, although it seems there may sometimes

[2016-04-12 14:42] teixeirak commented on #64
Please provide an example of the default data file format, and I will prepare updated default values to correspond to new biomes mapping scheme.

[2016-04-25 15:56] potterzot commented on #74
Closing this issue since we have working plots.

[2016-04-25 15:56] #74 closed

[2016-04-25 17:48] potterzot commented on #76
Due to two separate issues detailed in the latest development commit of ghgvcR. Should be fixed now, as reflected by [demo server](http://52.38.133.219/).

[2016-04-26 12:02] teixeirak opened #77 "Fix site numbering"
Site number orders are reversed in output graph and .csv files. For example, if there are 3 sites, site 3 becomes site 1, site 2 stays site 2, site 1 becomes site 3.

[2016-05-09 16:50] teixeirak commented on #76
![untitled](https://cloud.githubusercontent.com/assets/6355854/15120641/a2526b54-15e4-11e6-9d3e-1b90a06d3176.png)

[2016-05-09 17:00] teixeirak commented on #76
Addendum to the above comment: When I ran the above setup, the output was completely mismatched. See the attached screenshot. Note that I did not select anything for location 3 before running the calculator, so I would expect to see results for two ecosystem types: tropical forest site 1 and tropical forest site 2. Instead I get this:
![untitled2](https://cloud.githubusercontent.com/assets/6355854

[2016-05-09 17:01] teixeirak commented on #72
This issue appears to be solved in the updated version. Thank you.

[2016-05-09 17:01] #72 closed

[2016-05-09 17:01] potterzot commented on #76
@teixeirak hmm, thanks. Will take a look at this tonight.

[2016-05-15 13:32] teixeirak commented on #76
Any update on this?

[2016-05-15 14:07] teixeirak commented on #59
**The following are instructions for the revised biomes mapping. Please contact me if you have any questions.**

The new biomes mapping scheme will draw upon several maps:

1.	SYNMAP* (including life form assemblage and leaf type/phenology)
a.	*primary map, used to predict most likely land cover type
b.	Reference: SynMap: Jung M, Henkel K, Herold M, Churkina G (2006), Exploiting synergies of globa

[2016-05-15 14:15] teixeirak commented on #64
A reminder: Please provide an example of the default file format currently used by the calculator for biome default values, and I will prepare updated default values to correspond to new biomes mapping scheme.

[2016-05-16 16:59] potterzot commented on #76
I haven't quite resolved it yet, but hope to have it done here in the next couple of days. I'm also hoping to get the other issues taken care of early this week as well.

[2016-05-17 03:22] dlebauer commented on #70
@potterzot can this issue be closed?

[2016-05-17 07:04] Yuanchao-Xu commented on #70
@potterzot just wondering, at last how it is solved in your project?

[2016-05-17 15:28] teixeirak commented on #64
NOTE: all these instructions are also available in Word file in Box/gcs/revised biomes mapping.

Issue #59, once implemented, will make it such that selection of a location yields a list of one or more broad potential vegetation types.  The next step will be to associated these more specifically to climate zones so that it is possible to assign reasonable default model parameters. The agricultural

[2016-05-17 15:39] potterzot commented on #70
Yep, this is all set, excepting a response to @Yuanchao-Xu. Closing

[2016-05-17 15:39] #70 closed

[2016-05-31 20:08] dlebauer commented on #71
@potterzot can you check if this is still an issue? If not, please close.

[2016-05-31 20:09] dlebauer commented on #69
duplicate of #71

[2016-05-31 20:09] #69 closed

[2016-05-31 20:11] dlebauer commented on #57
@potterzot can this be closed?

[2016-05-31 20:11] #57 closed

[2016-05-31 20:12] dlebauer commented on #58
@potterzot can this be closed?

[2016-05-31 20:14] #23 closed

[2016-05-31 20:17] dlebauer commented on #65
@ValentineHerr

Here is an example of how you can compute the average of a variable over time. For the CLM TotLivBiom.nc. [Install NCO](http://nco.sourceforge.net/) and do:

[code]

[2016-06-02 21:10] ValentineHerr commented on #65
@dlebauer
Sorry it took me a while to get to this (field + waiting for admin password to install NCO)
If it is easy for you, could you tel me how to set the directory of input and output files for the command? I've tried to look at the manual and understand the commands but I am not making a lot of progress and I only need to run the command you gave me so I figured asking you would be faster

[2016-06-06 19:14] dlebauer commented on #65
@hmb1 I have a few questions:

1) Starting with a file of monthly values over 110 years (e.g. this [250MB file of NEE](https://uofi.box.com/s/owvtjedivps4yhmlebgk0ooflz2ef6k2), how can we compute the annual sums and then compute the average over years (analagous to a 'climatology' variable like mean annual temperature)?

I've been trying to compute the annual sums like `ncra -O -F -d time,1,1340,1

[2016-07-14 15:30] teixeirak commented on #76
Can we please get this resolved ASAP?

[2016-07-19 21:23] dlebauer commented on #51
@potterzot

[2016-07-26 02:20] potterzot commented on #71
I believe this is no longer an issue. Workflows_controller.rb doesn't do any direct netcdf loading. All loading happens in ghgvcR, and uses the new (ish) Saatchi.nc4 file. However, there are still other netcdf files that are separated. I don't know if the eventual intent is to combine all the netcdf files, but if it is, then that will have to happen first, and then the ghgvcR code will have to be

[2016-07-26 02:20] #71 closed

[2016-07-26 02:39] potterzot commented on #58
The netcdf files are not fully combined yet. The nice part is that in ghgvcR, there is just a list of variables and file names from which to draw from, and they are all loaded with a vectorized `apply` function, so if/when the files are combined, one only need to change the file name in the list.

From the above comments, it seems that a lot of these haven't been combined as they should be. For th

[2016-07-26 02:48] potterzot commented on #11
I think this is done as well, pending review of whether you want the `run` and `out` folders in ghgvc/tmp/. For example, on my installation, the full path to the output folder is `/opt/ghgvc/ghgvc/tmp/out/` and it contains `ghgv.json` and `ghgv.csv`. In contrast `run/` contains `biome.json` and `multisite_config.xml`.

It's probably worth noting that these are not removed on exit, so when developi

[2016-07-26 02:48] #11 closed

[2016-07-26 02:51] potterzot commented on #5
I think this should be closed, since it's essentially a replication of #59 and #64.

[2016-07-26 02:51] #5 closed

[2016-07-26 03:50] potterzot opened #78 "Remove files in /tmp/run and /tmp/out every time the rails app is loaded"
Otherwise stale files from previous runs can give misleading results or conceal a bug.

[2016-07-26 03:51] potterzot commented on #76
Fixed - Good example of need to remove all files in `/tmp/run` and `tmp/out` each time the site is loaded. Otherwise a bug in ghgvcR can leave those files unchanged, and ghgvc doesn't know that they are from the previous run. Created a new issue #78 regarding this.

[2016-07-26 03:51] #76 closed

[2016-07-26 03:55] potterzot commented on #18
This is already in `multisite_config.xml`, which is written when the user selects a biome. Each site is given `lat` and `lng` data, in addition to the `pft` config data. For example:

[code]

[2016-07-26 03:55] #18 closed

[2016-07-26 04:12] potterzot commented on #77
Fixed.

[2016-07-26 04:12] #77 closed

[2016-07-26 04:25] potterzot commented on #51
There is not a permissions issue, but this:

Is maybe something you'd like me to do before closing this issue?

Right now the script is source (line 127 of workflows_controller.rb) as:

`rcmd = "cd #{ghgvcR_instantiation_path} && ./inst/scripts/calc_ghgvc.R"`

[2016-07-26 04:33] potterzot commented on #43
I can't reproduce this issue. Maybe it's been fixed in other revisions? Closing.

[2016-07-26 04:33] #43 closed

[2016-07-26 04:44] potterzot commented on #42
I've fixed this to some extent, but this may also be a problem of resolution. If a location close enough to shore is selected, the closest grid point is on land, and it has a biome.

[2016-07-26 18:18] dlebauer commented on #71
At this point, combining all files into one is lower priority than standardizing their format.

[2016-07-26 21:26] potterzot opened #79 "Plots for a single site are just a horizontal line"

[2016-07-26 21:27] potterzot commented on #79
Merging with #56

[2016-07-26 21:27] #79 closed

[2016-07-26 21:28] dlebauer commented on #56
Two more issues

1. when I select only one ecosystem, the plot is squashed and no bars are apparent
2. when I select > 1 ecosystem at one or more sites, the results are the results of previous run that worked correctly.

[2016-07-26 21:29] dlebauer commented on #56
Here is a figure of squashed figure from 1 above

<img width="969" alt="screen shot 2016-07-26 at 5 28 26 pm" src="https://cloud.githubusercontent.com/assets/464871/17156174/6b09392a-5356-11e6-90c9-bcf5fc52b87d.png">

[2016-08-01 01:43] potterzot commented on #51
All R scripts are now in ghghv/script/.

[2016-08-01 01:43] #51 closed

[2016-08-01 02:05] potterzot commented on #78
Added to workflows_controller.rb::new(). This way each time a new simulation is started, the results and settings from the previous are deleted.

NOTE: This is not great if you want concurrency, so that multiple users can be using the calculator at the same time. Though the previous method would have also been pretty bad. Unless rails automatically does some kind of user-specific loading, in which

[2016-08-01 02:05] #78 closed

[2016-08-01 02:13] potterzot commented on #56
Moving the below to a separate issue since it's unrelated:

That leaves this bug about the following probably related things:

1. When select >1 site or an ag site, app crashes (was loads previous data, but that is fixed)
2. When I run tropical pasture, v sugarcane, v soy, all come up with negative storage. All storage should be positive.
3. It looks like the storage and flux terms are switched on

[2016-08-01 02:14] potterzot opened #80 "Plot with 1 ecosystem has squashed bars"
1. when I select only one ecosystem, the plot is squashed and no bars are apparent

[2016-08-01 05:14] potterzot commented on #56
The below are fixed, 3 is remaining.

~~1) When select >1 site or an ag site, app crashes (was loads previous data, but that is fixed).~~
~~2) When I run tropical pasture, v sugarcane, v soy, all come up with negative storage. All storage should be positive.~~

3) It looks like the storage and flux terms are switched on the graph. If you download the csv file, they're correct. Interestingly, they

[2016-08-02 03:26] potterzot commented on #80
Done.

[2016-08-02 03:26] #80 closed

[2016-08-02 04:36] potterzot commented on #56
Looks like (3) above was an artifact of ggplot2. negative Ongoing Exchange values were overlaid on top of the Storage bars, and then the labelling was switched. ggplot2 emits a warning that it doesn't play well with negative y values, so I suspect that's part of why.

Anyway, was able to code around it so that it plots correctly now.

[2016-08-02 04:36] #56 closed

[2016-08-04 03:36] potterzot commented on #55
lat/lon is added to the csv file, but I wanted to check on the units - do you really want each header name to have the units in the name? It currently looks like:

Location | Biome | lat | lng | S_CO2 | S_CH4 | ...
--- | --- | --- | --- | --- | --- | ---
1 | "scrub/woodland" | 38 | -97.1 | 271.1 | 2.3 | ...
2 | "temperate cropland" | 38 | -97.1 | 20.3 | 0.6 | ...

But adding the units would look l

[2016-08-04 13:41] teixeirak commented on #55
Let's keep the units in each column. This file is intended to be more functional than attractive, and it's better practice to have the units with the variable name. It does not need to be formatted with adjusted column width, bold headers, etc.; just leave as a .csv format.

Thanks!

On Aug 3, 2016, at 11:36 PM, Nicholas Potter <notifications@github.com<mailto:notifications@github.com>> wrote:

la

[2016-08-10 17:27] potterzot commented on #55
Done.

[2016-08-10 17:27] #55 closed

[2016-08-12 18:25] potterzot commented on #59
Can someone either upload SynMap to box or provide a link to it?

I don't see it on Box right now, and the [download link](http://webmap.ornl.gov/wcsdown/wcsdown.jsp?dg_id=10024_1) I found through google just downloads a file saying that the service is unavailable.

Thanks.

[2016-08-12 18:41] ValentineHerr commented on #59
I added it in the "Map to be added to Calculator" folder in the box. It is called Hurtt_SYNMAP_Global_HD_2010.nc
Let me know if this is not what you needed.
Valentine

[2016-08-12 18:42] potterzot commented on #59
First thanks @ValentineHerr for adding the synmap!

Also - I'm not entirely sure I understand what needs to happen here. I'm not really familiar with biome data in general, but I think what I've parse together is the following:

1. Use [VegType_to_BiomeType.csv](https://uofi.box.com/s/eurlr6x2g8eqhwybsa6652g7fjnw60my) and [VegTypeAssociations.csv](https://uofi.box.com/s/hfkgh5klnol6kfl0ihf0wzjd6fk

[2016-08-12 18:42] teixeirak commented on #59
Done. It is added to the "Map to be added to Calculator" folder in the box. It is called Hurtt_SYNMAP_Global_HD_2010.nc

On Aug 12, 2016, at 2:25 PM, Nicholas Potter <notifications@github.com<mailto:notifications@github.com>> wrote:

Can someone either upload SynMap to box or provide a link to it?

I don't see it on Box right now, and the download link<http://webmap.ornl.gov/wcsdown/wcsdown.jsp?dg

[2016-08-12 18:52] teixeirak commented on #59
I can't advise on the best way to program this. Are my instructions on the desired functionality clear?

[2016-08-22 16:14] potterzot commented on #59
Okay, as of commit [94bf9b5](https://github.com/ebimodeling/ghgvc/commit/94bf9b551a5b73330d1176f6253c74a5c7e33c7b), a working example of biome loading is [here](http://ec2-52-38-211-88.us-west-2.compute.amazonaws.com/). **The calculation of said biomes doesn't work yet** because various changes in the biome_defaults have to be taken into account in the calculator, but at least you can see the biom

[2016-08-22 16:54] teixeirak commented on #59
Thanks. I will review thoroughly as soon as possible and provide feedback as I go. If it would be helpful to walk through with me via phone or videoconference, I could be available most of the afternoon or evening starting in about half an hour.

Regarding the two major needs,
#1- @ValentineHerr or I will provide ASAP.
#2- HWSD refers to Harmonized World Soil Database (HWSD) SOC estimates to 1 m.

[2016-08-22 16:55] dlebauer commented on #59
@potterzot

* I put hwsd.nc in the netcdf/ folder on the development branch
* it is worth reordering the FAO/gez file and removing the hack; please create a new issue

[2016-08-22 17:10] teixeirak commented on #59
Besides IBIS, are the other rules for revised biome mapping fully implemented in this version? That is, is it ready for review?

[2016-08-22 18:09] teixeirak opened #81 "cleanup of biome selection display"
Please alter the ecosystem selection display as follows:
1- Natural vegetation types--including forest, savanna, shrubs, and grasses--should be listed under native vegetation. Agricultural ecosystems--including pasture, cropland, and specific crop types (maize, soy, sugarcane, switchgrass, miscanthus)--should be listed under Agroecosystem.  Currently, pasture sometimes shows up under Native and so

[2016-08-22 18:16] teixeirak opened #82 "fix duplicate implementation of cropland and pasture"
The new ecosystem selection routine includes cropland and pasture, yet there is also a separate implementation of these ecosystem types from the old version of the calculator, such that you will commonly have duplicate records appear in the ecosystem selection display (see example image). Please combine so that pasture and cropland appear only once (under agroecosystem), and there is no "temperate

[2016-08-22 18:22] teixeirak opened #83 "fix bug of ecosystems appearing in water"
Clicking on bodies of water, including in the middle of the ocean, commonly results in ecosystem options being listed (see example images). Please fix.
![water biomes](https://cloud.githubusercontent.com/assets/6355854/17866256/d8e89706-6873-11e6-8058-7878f13a5337.png)
![water biomes2](https://cloud.githubusercontent.com/assets/6355854/17866255/d8e72ab0-6873-11e6-8f5f-f33659d199f7.png)

[2016-08-22 18:23] potterzot commented on #59
I believe so. Let me summarize how it works in the code:

   1. Use synmap value to lookup vegetation types (map_vegtypes.csv)
   2. Use koppen value and vegetation type from #1 to determine biome code
   (koppen_biomes.csv)
   3. If biome code is GX or APX (grass or pasture), use fao value to
   determine biome code (fao_biomes.csv)
   4. pull default values for the biome by biome code (biome_def

[2016-08-22 18:37] teixeirak commented on #59
Steps 1 and 5 require modification.
1. Use synmap, **KOPPEN, FAO, IBIS, and RAMANKUTTY** values to lookup vegetation types (map_vegtypes.csv). **There will be multiple options. The use of multiple map layers increases the probability of listing all of the important potential vegetation types for that location**.
 5. Calculate OM_SOM based on vegetation type (for natural ecosystem types or pasture,

[2016-08-22 18:49] potterzot commented on #59
Okay, awesome. So just to clarify, you'd like me to concatenate all of the vegetation types available from all of the **synmap, koppen, fao, ibis, ramankutty** values to create the list of vegetation types for which to lookup biomes?

Also - @dlebauer, I also don't know where the ramankutty map file is. So the things I need to fill the above are:

1. the IBIS values added to [map_vegtypes.csv](htt

[2016-08-22 19:02] potterzot commented on #59
Also, I think there's maybe a copy/paste error here:

Is the only difference the addition of for crops, OM_SOM = 0? If so was already the case so it's all set.

[2016-08-22 19:04] teixeirak commented on #59
Yes, that is correct.

1. I'll need @ValentineHerr to help with this.
2. The Ramankutty maps give numerical values of % crop or pasture cover. Any non-zero value should trigger listing of crop or pasture.
3. The Ramankutty maps are already used to define pasture and cropland area in the previous calculator version (issue #82). Files may be named something like global cropland or global pasture.  I

[2016-08-22 19:06] teixeirak commented on #59
On 5), the difference is the addition of "for natural ecosystem types or pasture, if..." and "for crops, ...". It sounds like it may all be correct already.

[2016-08-22 19:15] dlebauer commented on #59
t_oc is the %SOM in the top 0-30 cm layer; s_oc is %SOM in the 30-70 cm layer

The variable you want SOC = t_oc * 0.3 + s_oc * 0.7

[2016-08-22 19:23] teixeirak commented on #59
NO; we do not want %SOM, we want SOC in units of total mass (tons C ha-1 to 1 m). I believe the file has the variables SOCSUB and SOCTOP. So we want SOC=SOCSUB + SOCTOP. @ValentineHerr can look at the file to verify the variable name.

[2016-08-22 19:32] dlebauer commented on #59
We must be looking at different files - the hwsd.nc file has %SOM as mentioned above and bulk density in units of kg / dm3. With appropriate conversions we can compute the SOC as tons C ha-1 to 1 m. Let me know if you want me to work out the conversion, but the first step will be:

t_oc * 0.3 * t_ref_bulk+ s_oc * 0.7 * s_ref_bulk

[2016-08-22 19:34] dlebauer commented on #59
Percent cover for different crops is here:

netcdf/GCS/Crops/Brazil/Sugarcane/brazil_sugc_fractional_10yr_avg.nc
netcdf/GCS/Crops/Brazil/Soybean/brazil_soyb_fractional_10yr_avg.nc
netcdf/GCS/Crops/US/SpringWheat/fractioncover/fswh_2.7_us.0.5deg.nc
netcdf/GCS/Crops/US/Corn/fractioncover/fcorn_2.7_us.0.5deg.nc
netcdf/GCS/Crops/US/Soybean/fractioncover/fsoy_2.7_us.0.5deg.nc

I don't see cover for pas

[2016-08-22 19:36] dlebauer commented on #59
Actually I think pasture fractional cover is in

netcdf/GCS/Pasture2000_5min.nc

Does that sound right? Are these the Ramankutty files?

[2016-08-22 19:52] teixeirak commented on #59
Regarding SOC, working out the conversion may be easiest. I believe @ValentineHerr has been using a file with units of t/ha (if not we need to fix our calculations, Valentine).

[2016-08-22 19:56] teixeirak commented on #59
Pasture2000_5min.nc sounds right for the Ramankutty files. Is there a crops one too?

The other files you listed are specific crop types We also want generic cropland from Ramankutty.

Are brazil_sugc_fractional_10yr_avg.nc and brazil_soyb_fractional_10yr_avg.nc working? @dlebauer, this relates to a question I sent you this AM via email.

[2016-08-22 19:57] dlebauer commented on #59
This is how to compute SOC from the hwsd.nc file:

                (% SOM in subsoil * subsoil bulk density * % of soil profile in subsoil)

[code]

[2016-08-22 19:57] dlebauer commented on #59
I think they are working, will have to defer to @potterzot

[2016-08-22 20:10] teixeirak opened #84 "improvements to Google map display"
Now that we have better spatial resolution, is it possible to allow closer zoom on the google map? Also, is it possible to give the option to turn on political boundaries, etc? These would be nice improvements if they can be done easily, but are not essential.

[2016-08-22 20:30] potterzot commented on #59
Short answer: yes. More details: Specific crops are still handled in the way they used to be. The way it is handled is:

1. for given lat/lon, load all fractional crop values (including the above 2).
2. for each file, if the value for the location >= 0.01, then include the relevant crop biome as an agroecosystem biome.

There is some additional specific logic that applies to certain crops, but tha

[2016-08-22 20:53] teixeirak commented on #59
What is the additional specific logic that applies to sugarcane and soy in Brazil? Earlier, there was trouble getting the sugarcane (and soy?) map to work, and a hack was created whereby these were assigned by state (not desirable).

[2016-08-22 21:36] potterzot commented on #59
I don't know how the map values were created, so there could be something in that that assigns by state, but in terms of the logic after reading the map value, the specifics are:

**BR Sugarcane**

* map value has to be > 0.01 and < 110.0

**BR Soy**

* map value has to = 1, and
* br sugar latent heat flux difference has to have a valid value (the BR sugar is not a typo, or at least if it is it wa

[2016-08-22 22:03] potterzot commented on #59
Okay, a [minimal working example is up](http://ec2-52-38-211-88.us-west-2.compute.amazonaws.com/). I believe it only works with selecting one natural ecosystem. Agriculture systems don't work at the moment because of the below.

**Question**: The format of the original biome defaults json file has source abbreviations like:

[code]

Because the new biome defaults are in a csv file, they have the f

[2016-08-22 22:12] dlebauer commented on #59
I don't recognize "s000" notation - if it is not needed, please convert to the format that does not include it

[2016-08-22 23:38] potterzot commented on #59
The [demo](http://ec2-52-38-211-88.us-west-2.compute.amazonaws.com/) is a complete working demo now, excepting the new issues that were created today and the remaining things below.

Here's the current list of stuff that needs to be done for this issue:

* [X] HWSD added
* [X] vegetation types sourced from all synamp, koppen, fao, ibis, ramankutty
* [X] OM_SOM correctly calculated
* [ ] add IBIS v

[2016-08-23 01:48] teixeirak commented on #59
The soil carbon numbers are wrong (way too high); most values should be SOC= 50-250 t C ha-1. Then the variable that goes into the calculator is  "vulnerable soil organic matter", OM_SOM=SOC/.58*0.3 (or 0.43 when SYNMAP = crops). The .58 converts from C to organic matter (in retrospect, a stupid convention in my code!) and the 0.3  or 0.43 defines the fraction of that SOM that is vulnerable. Also,

[2016-08-23 01:50] teixeirak commented on #59
Regarding this, " have not seen a list of biome names for each biome code like T1, T3, S1, etc... Right now I'm using vegetation types, but this means multiple different biomes will show up in the app as "Broadleaf Evergreen Forest", for example. If we have a list of names and codes for each biome, it would be easy to change this to reflect the specific biome name."... I intentionally chose to def

[2016-08-23 01:53] teixeirak commented on #59
Regarding this: "the Revised Biome Mapping docx file has this item: " There are a few biome types for which default values do not (yet) exist, as indicated by “NaN”. For these, the calculator should give an error message. Something like: “Insufficient data for this vegetation type in this location. Please enter values manually or de-select this ecosystem type." This is probably not something that

[2016-08-23 14:23] teixeirak commented on #59
Regarding this, " there are not currently instructions for other "MAP" biome settings, for sw_radiative_forcing, latent, and sensible. These need to be implemented."…

Basically, these will be treated exactly the same as they were in the previous version, with the exception that they now apply only some of the time to the natural vegetation types (trees, savanna, shrubs, grassland). The basic logi

[2016-08-23 15:25] teixeirak opened #85 "Make it possible to select sites by entering latitude-longitude"
Would it be easily doable to make it possible to select sites by entering latitude/longitude? If so, that would be very helpful (in part because it will make it much easier to make an example figure that I need to make for the paper, and give better results).

[2016-08-23 17:30] ValentineHerr commented on #59
I added the IBIS values in [map_vegtypes.csv]( ghgvc/public/data/maps/map_vegtypes.csv ). Let me know if that works.

[2016-08-23 17:33] ValentineHerr commented on #59
About the Soil carbon units. Units seem to be in t ha-1 according to instructions that I have about the layers. Also the values stored don't look like percentages. The files I am talking about are:
- HWSDa_OC_Dens_SUB_30SEC_EAST.tif
- HWSDa_OC_Dens_SUB_30SEC_WEST.tif
- HWSDa_OC_Dens_TOP_30SEC_EAST.tif
- HWSDa_OC_Dens_TOP_30SEC_WEST.tif
Hope that helps.

[2016-08-24 12:35] teixeirak opened #86 "load additional (alternate) map data/ provide instructions"
We want to be able to load additional data maps, which will provide additional data source options to the user. In the short term, we'd like to get the maps listed below into the calculator. In the longer term, if possible, I'd like to have instructions on how to do this so that someone without web programming skills can load them. If that could already be accomplished, perhaps the best would be t

[2016-08-24 12:47] teixeirak opened #87 "Add link to pdf with ecosystem info"
I'd like to provide info on each ecosystem type to the users. This will be in the form of .pdf documents for each ecosystem type.

@potterzot - Following each ecosystem name (next to the edit link), could you please create an information icon that will link to .pdfs describing the ecosystem type? This will refer to the location-specific assignment of a vegetation type to an ecosystem type/ "biome"

[2016-08-24 14:39] teixeirak commented on #65
This is now covered by #86. Closing this issue.

[2016-08-24 14:39] #65 closed

[2016-08-24 14:41] teixeirak commented on #21
Duplicated in #85. Closing this issue.

[2016-08-24 14:41] #21 closed

[2016-08-24 14:45] teixeirak commented on #64
This has been implemented; closing this issue.

[2016-08-24 14:45] #64 closed

[2016-08-24 14:47] teixeirak commented on #42
This original issue was largely solved, but has reappeared and is currently covered by issue #83. Closing this version.

[2016-08-24 14:47] #42 closed

[2016-08-24 14:49] teixeirak commented on #41
Old bug, which has likely been taken care of; closing.

[2016-08-24 14:49] #41 closed

[2016-08-24 14:56] teixeirak commented on #82
This has been solved.

[2016-08-24 14:56] #82 closed

[2016-08-24 17:06] dlebauer commented on #59
@ValentineHerr I don't recall where those files came from, but I was referring to the file [hwsd.nc](http://file-server.igb.illinois.edu/~dlebauer/hwsd/hwsd.nc) produced by MsTMIP. That should be easier because it has all of the necessary data in a single file.

[2016-08-25 17:57] ValentineHerr commented on #86
The IPCC map is added in the box now. https://app.box.com/files/0/f/11067008935/IPCC

[2016-08-26 17:29] dlebauer commented on #86
@potterzot What are the steps?

First, I assume we need to make the file and variable information available to the generic R function. In https://github.com/ebimodeling/ghgvc/issues/58#issuecomment-235146776 it looks like there is an R list called `data_list` that specifies the data sources. For each data source, there are three elements, the directory name, the file name, and the variable name, f

[2016-08-26 18:26] potterzot commented on #86
I think the below is about right:

*Step 1*
The list is defined in *biome.R*. At the end of the data_list list there
are several of the new map files. They are all stored in "GCS/Maps"
subdirectory, so easiest would be to copy something like the synmap entry
and change the map name and the variable name (the variable is the name of
the variable in the netcdf file).

*Step 2*
That is all you need t

[2016-08-26 21:22] teixeirak commented on #86
I have added a file to Box giving the unit conversions for the maps listed above. https://uofi.box.com/s/y8fsl0obdtzb56wyksgvjin7sc282ice

[2016-08-28 03:02] potterzot commented on #83
Either this got partially fixed along the recent changes, or was only the case when you've previously clicked somewhere else, and the previous biome data is still available. Regardless, should be completely fixed as of commit 7f670e0.

It might be good to add some kind of "no biomes available." notice so that it doesn't seem like nothing is happening.

[2016-08-28 03:02] #83 closed

[2016-08-28 03:19] potterzot commented on #81
Repost with list:

* [ ] Natural vegetation types--including forest, savanna, shrubs, and grasses--should be listed under native vegetation. Agricultural ecosystems--including pasture, cropland, and specific crop types (maize, soy, sugarcane, switchgrass, miscanthus)--should be listed under Agroecosystem. Currently, pasture sometimes shows up under Native and sometimes under Agroecosystem.

* [ ]

[2016-08-28 04:09] teixeirak opened #88 "cleanup of results display"
- [x] on the plot, order ecosystem types by site (ascending order), then by vegetation type (trees>shrubs>grass>agriculture) rather than current setup (alphabetically, descending order)
- [x] On the graph, please add black dots indicating net value (only when all components are available) on the first two panels, as in the third panel. Then, change the annotation below the plot to read "Black dots

[2016-08-28 23:31] potterzot commented on #88
Regarding this:

What about Savannah and Other? I assume Savanna is with Grass and Other is after Grass?

[2016-08-28 23:35] teixeirak commented on #88
Savanna is between trees and shrubs. By other, you mean specific crop types? those go last.

On Aug 28, 2016, at 7:32 PM, Nicholas Potter <notifications@github.com<mailto:notifications@github.com>> wrote:

Regarding this:

on the plot, order ecosystem types by site (ascending order), then by vegetation type (trees>shrubs>grass>agriculture) rather than current setup (alphabetically, descending orde

[2016-08-29 00:07] potterzot commented on #88
In the map-to-vegtypes matrix there is an "Other" column, for things like Urban, etc... There's also a "Barren" which I forgot to ask about.

[2016-08-29 00:13] teixeirak commented on #88
Oh, please list barren last among natural types.

Urban should never show up on the graphs.

On Aug 28, 2016, at 8:08 PM, Nicholas Potter <notifications@github.com<mailto:notifications@github.com>> wrote:

By other, you mean specific crop types?
In the map-to-vegtypes matrix there is an "Other" column, for things like Urban, etc... There's also a "Barren" which I forgot to ask about.

—
You are re

[2016-08-29 00:37] potterzot commented on #88
Another question, for this part:

Do you want this completely removed, or just removed from the "results" page? It sort of makes sense to have it on the map selection page, but definitely easier to remove it completely.

[2016-08-29 00:41] teixeirak commented on #88
Please just remove from the results page, or remove from both and put it elsewhere on intro page..

On Aug 28, 2016, at 8:37 PM, Nicholas Potter <notifications@github.com<mailto:notifications@github.com>> wrote:

Another question, for this part:

Remove the statement (under the map), "Click the map to choose location coordinates.", as that does not work without starting a new run.

Do you want thi

[2016-08-29 02:40] potterzot commented on #88
I probably won't have too much time over the next week until next weekend, so here's where things stand:

From the list, this remains to be done. I've added what I thought would correct the ordering, but haven't worked out why it isn't working. Refer to lines 54 and 56 of [plots.R](https://github.com/ebimodeling/ghgvcR/blob/development/R/plots.R), which should determine the order of the Biomes, wh

[2016-08-29 02:43] potterzot commented on #81
I've added a "is_synmap" variable to each biome_default. This should allow someone to modify the rails code to add the asterisk if the value is TRUE. Haven't gotten farther than that, and might not get there this week.

[2016-08-29 02:48] potterzot commented on #87
I've added a 'link', and there are a pdf icon in assets/images/, but they aren't showing up for some reason. I could probably get this together with another hour or less of work, but might not get the chance tomorrow, so dropping this note here.

This is probably a super easy fix. The line adding the link is in [workflows.js](https://github.com/ebimodeling/ghgvc/blob/development/app/assets/javascr

[2016-08-29 02:56] potterzot commented on #84
Increased the zoom from 5 to 7. I believe it goes up to 9, but not sure. To further change, change line 223 of [workflows.js](https://github.com/ebimodeling/ghgvc/blob/development/app/assets/javascripts/workflows.js), variable `mapMaxZoom`.

As far as the political boundaries, I am not sure how to do them. I'm sure it's doable, but for me at least it would be a significant time investment. I could

[2016-08-29 02:58] teixeirak commented on #87
Thanks!

We will name the files (all .pdf) T1-T13, S1-S6, etc. For now, we can substitute with a file saying "Information on this ecosystem type coming soon."

[2016-08-30 18:43] teixeirak opened #89 "fix bug of old biomes map overlay showing up"
I just had our old map of biomes show up over the google satellite image (see photo). This is a relic of a past version and should be completely removed. It seems this is triggered by shifting the map to the right (scrolling west over the Pacific in order to show Asia) and then shifting it back to the left.

<img width="1440" alt="screen shot 2016-08-30 at 2 39 51 pm" src="https://cloud.githubuser

[2016-08-31 12:48] teixeirak opened #90 "scale map box"
Can we scale the map box such that full zoom out shows one complete world map with no repetition? Currently, if I want to show a world map (which I want to do for our publication), I have to either show only part of the map or have parts repeated.
<img width="1440" alt="screen shot 2016-08-31 at 8 45 42 am" src="https://cloud.githubusercontent.com/assets/6355854/18129207/ad2fcf9a-6f57-11e6-8127-45

[2016-08-31 13:49] teixeirak opened #91 "fix bug: can't drop pin in S China"
I can't drop a pin anywhere in a large region of S China. The attached image has pins dropped around the approximate edges of this region.
Another bug that is probably related-- no ecosystems show up at pin 5 in the attached image.

<img width="1440" alt="screen shot 2016-08-31 at 9 46 40 am" src="https://cloud.githubusercontent.com/assets/6355854/18131187/e05a992e-6f5f-11e6-841f-34b87d2a92e3.png"

[2016-08-31 17:05] teixeirak opened #92 "fix bug: model freezes on pasture"
I don't know what triggers it, but the model freezes sometimes. Here's a screenshot of an example where this happened ( you can see lat-long and ecosystem types selected).

<img width="1440" alt="screen shot 2016-08-31 at 1 03 57 pm" src="https://cloud.githubusercontent.com/assets/6355854/18138580/764f6232-6f7b-11e6-951b-20ee76ea206f.png">

[2016-08-31 17:10] teixeirak commented on #92
I've isolated the problem. It freezes on grassland pasture.

[2016-09-05 02:07] potterzot commented on #92
Fixed

[2016-09-05 02:07] #92 closed

[2016-09-05 02:16] potterzot commented on #91
Fixed

[2016-09-05 02:16] #91 closed

[2016-09-05 02:19] potterzot commented on #59
Closing this issue, I think it is done.

[2016-09-05 02:19] #59 closed

[2016-09-05 02:30] potterzot commented on #89
I've had this happen several times for me as well, but never been able to reproduce it. Not able to reproduce it now either. I'll give it a hunt though and see if I can find what's causing it.

[2016-09-05 02:41] potterzot commented on #89
Fixed.

[2016-09-05 02:41] #89 closed

[2016-09-05 02:46] dlebauer commented on #89
Fixed how? There are a bunch of old map tiles in the repository... not sure
if this is related.
On Sun, Sep 4, 2016 at 9:41 PM Nicholas Potter <notifications@github.com>
wrote:

[2016-09-05 02:51] potterzot commented on #89
There's a 'maptiler' function in assets/javascript/workflows.js that was
erroneously being called. I did not delete the actual map tiles themselves,
but just removed the function call so that the old biome tile overlays are
not added anymore.

--
Nicholas Potter
http://potterzot.com
9C73 3AAA 6D99 86F1 F8F4 601D 298F 8713 1BE6 5941

On Sun, Sep 4, 2016 at 7:46 PM, David LeBauer <notifications@gith

[2016-09-05 14:24] teixeirak commented on #89
I don't see any reason to hold on to those map tiles.

[code]

[2016-09-06 01:15] potterzot commented on #90
Oddly, it doesn't seem possible. Which seems weird, so I'm probably wrong, but with zoom 1, we get repeats of some areas, and with zoom 2, we get not quite the whole earth. From what I can tell, this is related to the size of the map "box" in the site, so the thing to do would either be to make the map canvas bigger or smaller. Changing it to 1025 pixels gets the entire earth map to fit nicely, bu

[2016-09-06 01:48] dlebauer commented on #90
@gsrohde knows css

[2016-09-06 02:34] potterzot commented on #90
Great! [This is the file](https://github.com/ebimodeling/ghgvc/blob/development/app/assets/stylesheets/workflows.css.scss) that controls the map width. As of right now it is all aligned, as you can [see in the demo](http://52.38.211.88/), but there may be better ways to do it.

[2016-09-06 04:30] potterzot commented on #87
I have the pdf icons added to the app, but the logic that points each specific biome code to the appropriate pdf hasn't been added. I will focus on that next.

[2016-09-06 05:02] potterzot commented on #27
Is this one still a high priority?

[2016-09-06 14:18] teixeirak commented on #27
It's still important, although I would rank it below #12, #21,  #86, #87.

[2016-09-06 14:29] teixeirak opened #94 "fix graphing"
The latest update seems to have reverted to an old graphing script that doesn't work. Please fix ASAP.

<img width="1440" alt="screen shot 2016-09-06 at 10 27 56 am" src="https://cloud.githubusercontent.com/assets/6355854/18277483/aa7a7740-741c-11e6-8aec-a6d71b18a22f.png">

[2016-09-06 16:45] potterzot commented on #94
I can't reproduce this. Can you provide a lat/lon and biome combo that make
the old graphing come up?

Also - we could remove the call to old plot code entirely.

--
Nicholas Potter
http://potterzot.com
9C73 3AAA 6D99 86F1 F8F4 601D 298F 8713 1BE6 5941

On Tue, Sep 6, 2016 at 7:29 AM, Kristina Anderson-Teixeira <
notifications@github.com> wrote:

[2016-09-06 16:53] dlebauer commented on #94
@potterzot yes ... not sure why this popped up but I see no reason to keep the old plotting code ...

[2016-09-06 16:54] teixeirak commented on #94
I can't reproduce it now either. But I agree; let's get rid of that old code.

[2016-09-27 14:17] teixeirak opened #95 "disallow temperate savannas"
When SYNMAP predicts grass and trees outside of the tropics, savanna (grass + trees) is listed as an option, but we have not defined a savanna ecosystem type outside the tropics. Please make a rule that savanna only appears as an option in the climate zones with which ecosystem type 'S1' is associated. Alternatively, if this is complicated, make the rule that it only appears between latitudes -23.

[2016-09-27 14:20] teixeirak opened #96 "fix bug: calculator reverts to old graphing scheme when ecosystem with no data is selected"
If I select an ecosystem for which there are no data (as the only ecosystem selected)-- for example, savanna outside the tropics-- the calculator reverts to the old graphing scheme (see image). Please fix.

<img width="1440" alt="screen shot 2016-09-27 at 10 06 50 am" src="https://cloud.githubusercontent.com/assets/6355854/18877142/3ccd38e8-849a-11e6-94b3-e31c9190b742.png">

[2016-09-27 14:34] teixeirak commented on #90
This is much better. Could you please adjust the vertical size as well so that New Zealand and the tip of S. America show up? (No need to see Antarctica.)

[2016-09-30 21:21] #36 closed

[2016-10-05 21:28] teixeirak commented on #87
The pdfs are now ready and in Box: https://app.box.com/files/0/f/11583247111/Ecosystem_fact_sheets

[2016-10-17 18:14] dlebauer commented on #88
@potterzot have you been able to finish this up? Looks like the last issue is re-ordering the plot so that it is in order of site number?

[2016-10-17 19:01] dlebauer commented on #86
@ValentineHerr what are the next steps? Is it just to download the files and add them to the server running the calculator?

@potterzot can you help with this?

[2016-10-17 19:04] teixeirak commented on #86
@ValentineHerr<https://github.com/ValentineHerr>  has loaded the files to the server running the calculator. She is out until next Monday, so I’ll try to help if you have any questions.

On Oct 17, 2016, at 3:01 PM, David LeBauer <notifications@github.com<mailto:notifications@github.com>> wrote:

@ValentineHerr<https://github.com/ValentineHerr> what are the next steps? Is it just to download the f

[2016-10-18 00:01] teixeirak commented on #94
This is reproduced in issue #96. I'm not sure how to merge the issues, so I'll just close this one.

[2016-10-18 00:01] #94 closed

[2016-10-18 00:07] teixeirak commented on #87
Note that the page currently resets if user clicks on one these links; therefore I am marking this as an essential issue.

[2016-10-18 00:27] teixeirak commented on #44
I think this is obsolete.

[2016-10-18 00:27] #44 closed

[2016-10-18 00:32] teixeirak commented on #19
I think this is obsolete. Closing.

[2016-10-18 00:32] #19 closed

[2016-10-18 14:36] potterzot commented on #88
Hi @dlebauer @teixeirak @ValentineHerr, it's midterm time so I probably won't get to look at this until this weekend, I just wanted to let you know that I've received the different issue notices and it's on my radar.

This specific one I thought I already took care of? I'll have to look at it. I see a few others as well, after Thursday I should be able to spend some time on them.

[2016-10-20 13:40] teixeirak commented on #88
I still get them arranged alphabetically. Perhaps the change has not been pushed through?
Good luck with midterms!

[2016-10-30 18:39] potterzot commented on #96
I disabled the old graphing call, so this should no longer happen. I can't get it to happen on my machine, but if somehow it is happening we can reopen this.

[2016-10-30 19:15] potterzot commented on #86
A few things on this:

* I can't find the SOC.nc file listed on line 293 of [ghgvcR/biome.R](https://github.com/ebimodeling/ghgvcR/blob/master/R/biome.R)

* I don't think I have edit permissions on box, but I wonder if we can rename the *.nc files to have a standard naming convention? The US Forest biomass file has spaces in it that cause problems, and the IPCC file has two underscores in a row.

[2016-10-30 21:19] dlebauer commented on #86
@potterzot feel free to rename. I'll take a look for SOC.nc. @teixeirak or @ValentineHerr have you seen it?

[2016-10-30 21:21] dlebauer commented on #86
SOC.nc and other files are here; I'll invite you with permission: https://uofi.box.com/s/uyfcy756jvhgs7qf6l84cufor9cvzi5a

[2016-10-30 21:25] dlebauer commented on #86
@potterzot

* SOC.nc and other files are here https://uofi.box.com/s/uyfcy756jvhgs7qf6l84cufor9cvzi5a
* I updated your permissions to edit on Box

sorry for the many mails - I edited then combined all of the previous comments

[2016-10-30 21:33] dlebauer commented on #86
@potterzot I just renamed the US Forest biomass file to remove spaces. Others look ok re spaces ...

It would be great but low priority to standardize the naming, might help (but be tedious) if all file names indicated source, variables and temporal / spatial domain. On the other hand, where the data are just raw dumps it may make sense to keep the original name just to make it clear that this is

[2016-10-30 22:20] potterzot commented on #87
Works!

[2016-10-30 22:20] #87 closed

[2016-10-31 13:53] teixeirak commented on #87
Thanks! Could you please provide instructions on how to update the pdf?

[2016-10-31 13:57] teixeirak commented on #96
I'm still getting it. I get it when I click around the US midwest (as in image above) until I get savanna as an option, and then select that (and only that).

[2016-10-31 15:06] potterzot commented on #87
The pdfs can be updated by just copying new ones to [assets/ecosystem_fact_sheets](https://github.com/ebimodeling/ghgvc/tree/master/app/assets/ecosystem_fact_sheets)

[2016-10-31 15:17] potterzot commented on #96
Okay, thanks. I'll take a look at it.

[2016-11-02 15:05] teixeirak commented on #86
How urgent is the README file? Is it required to make progress, or just for proper documentation?

[2016-11-02 16:07] dlebauer commented on #86
For proper documentation ... not essential but would make development easier. A readme with a link to the spreadsheet if it exists woul suffice.

[2016-11-02 16:10] dlebauer commented on #87
FYI there is an 'upload new file' on the page Nick linked to.
On Mon, Oct 31, 2016 at 10:06 AM Nicholas Potter <notifications@github.com>
wrote:

[2016-11-06 19:05] potterzot commented on #90
Done - see [line 31](https://github.com/ebimodeling/ghgvc/blob/development/app/assets/stylesheets/workflows.css.scss). Additional adjustments can be easily made by changing that value.

[2016-11-06 19:05] #90 closed

[2016-11-06 19:14] potterzot commented on #96
For future reference, (41.32, -93.50) selecting savannah will replicate this error. Likely applies to any ecosystem for which we have no data. Probably tied to Issue #95 disallow temperate savannahs. But also should generally disable/remove this code.

But - that means this issue should be fixed before #95 is fixed, or it may lurk... Working on it now.

[2016-11-06 20:00] potterzot commented on #96
Fixed. highcharts.js is disabled, ref [this block](https://github.com/ebimodeling/ghgvc/blob/b0c3e1fa62b83bc691d827cfc49cd11fcf30068b/app/assets/javascripts/workflows.js#L628-L642).

I've also updated some of the container names to be no longer highchart specific.

The code to create the highcharts themselves is still present in [calculator.js](https://github.com/ebimodeling/ghgvc/blob/b0c3e1fa62b

[2016-11-06 20:00] #96 closed

[2016-11-06 20:09] potterzot commented on #95
Fixed this in ghgvcR. Reference [this code block](https://github.com/ebimodeling/ghgvcR/blob/5d36664d6e94c26d357827bc1422e6ebb24b0e0e/R/biome.R#L444-L451) to add additional exclusions or to remove them.

[2016-11-06 20:09] #95 closed

[2017-01-06 17:25] dlebauer opened #99 "Create and track unique outputs for each run"
currently, the calculator creates the ghgv.csv, ghgv.json, biome.json, and multisite_config.xml for each run.

If 2 users are using the site at once they could download the wrong file. This could be solved by having files that are unique to a particular session.

Right now, I will mark this as low priority because the user base is sufficiently small that the probability that this will occur is ver

[2017-01-26 15:42] teixeirak opened #100 "Fix Google map positioning"
The google map image is no longer fitting in its box. See example screenshots.

<img width="1440" alt="screen shot 2017-01-26 at 10 40 36 am" src="https://cloud.githubusercontent.com/assets/6355854/22337834/ec10b0dc-e3b3-11e6-8ac3-adc22f33d233.png">
<img width="1440" alt="screen shot 2017-01-26 at 10 40 31 am" src="https://cloud.githubusercontent.com/assets/6355854/22337832/ec0fb4fc-e3b3-11e6-9473

[2017-01-27 18:21] teixeirak commented on #86
@ValentineHerr prepared a README file, which is now in Box. I've also updated the map units file.

@potterzot, do you need anything else to finish this issue?

[2017-01-27 18:36] teixeirak commented on #88
One more minor change:

- [ ] On the graph, please add black dots indicating net value (only when all components are available) on the first two panels, as in the third panel. Then, change the annotation below the plot to read "Black dots indicate net values, and are displayed when all components are quantified. Missing values (particularly common for biophysical components) indicate that climate

[2017-01-27 21:55] potterzot commented on #86
Reopening this because while the alternative maps are being read in ghgvcR, the user is not currently able to select any alternative maps AFAIK.

[2017-01-27 21:58] teixeirak opened #101 "Fix switchgrass and miscanthus distributions"
Switchgrass and Miscanthus distributions are derived from a map ‘DayCentFinalYield(5).tif’ (for Miscanthus, not sure of map name for switchgrass). The Miscanthus biome (and probably switchgrass) shows up wherever there is data, even for the large number of sites with yield << 1 Mg/ha. Change so that it only shows up above a threshold yield of 3 Mg/ha (somewhat arbitrary, based on discussions with

[2017-02-02 15:00] teixeirak opened #102 "minor edit to biome labels"
For mixed broadleaf evergreen/ conifer forests, the calculator displays "mixed broadleaf conifer forest", which erroneously implies the existence of broadleaf conifer species. Please change to  "mixed forest"

[2017-02-28 21:42] #84 closed

[2017-03-14 02:51] potterzot opened #103 "Find appropriate citation for "Maximizing ecosystem services while meeting U.S. bioenergy goals.""
From @dlebauer originally: What is the appropriate citation for

    Maximizing ecosystem services while meeting U.S. bioenergy goals. BioScience

@teixeirak said she was not aware of any publication by that name.

Best I was able to find was a paper in revision listed in Sarah C Davis' [pdf CV](http://www-app.igb.illinois.edu/davissc/DavisCV2011new.pdf):

    DeLucia E.H., K.J. Anderson-Teixeira,

[2017-03-14 02:55] teixeirak commented on #103
Davis SC, Parton WJ, Del Grosso SJ, Keough C, Marx E, Adler PR, and DeLucia EH<http://www.life.illinois.edu/delucia/Davis%20-%20DeLucia%20Frontiers.pdf> (2011) Impact of second-generationa biofuel agriculture on greenhouse-gas emissions in the corn-growing regions of the US. Frontiers in Ecology and the Environment (doi:10.1890/110003)

On Mar 13, 2017, at 10:51 PM, Nicholas Potter <notifications@

[2017-03-27 14:47] teixeirak commented on #16
This is not a high priority. Closing this issue.

[2017-03-27 14:47] #16 closed

[2017-03-27 14:57] teixeirak commented on #4
This is the same as #27 . Closing.

[2017-03-27 14:57] #4 closed

[2017-03-27 14:58] teixeirak commented on #27
This issue was also covered in #4 , now closed.

[2017-03-27 15:11] teixeirak commented on #68
This is not an immediate priority. Closing.

[2017-03-27 15:11] #68 closed

[2017-03-27 15:15] teixeirak commented on #67
This is not an immediate priority. Closing.

[2017-03-27 15:15] #67 closed

[2017-04-03 05:29] potterzot commented on #102
Fixed [here](https://github.com/ebimodeling/ghgvcR/blob/bc6e3d6d2658168f62c76cf242e6475bcbc386a5/R/plots.R#L24-L30)

[2017-04-03 05:29] #102 closed

[2017-04-03 06:58] potterzot commented on #88
Done [here](https://github.com/ebimodeling/ghgvc/blob/402bfaebef033aef431b8f73af559b3c9565197f/app/views/workflows/new.html.erb#L77) (for ghgvc) and [here](https://github.com/ebimodeling/ghgvcR/commit/4e446a8d0a88ca3be286c03723a5b93871e18ec7) (for ghgvcR).

[2017-04-03 06:58] #88 closed

[2017-04-04 23:13] potterzot commented on #86
Wanted to recap and get some feedback on this. I've now spent ~2.5 hours figuring out where things stand, what needs to happen, etc...

First, it would be easy enough to just add "Anderson-Teixeira and DeLucia (2011)" to the app for sources, which would at least fix the "0" issue, but would not allow dropdown source selection.

For implementing source selection:
* default biome values come from [h

[2017-04-05 18:06] teixeirak commented on #100
A further note on this:

The problem occurs on Firefox (Mac or PC) and Internet Explorer (PC), but not on Safari (Mac) or Chrome (PC).

[2017-04-05 18:29] teixeirak commented on #86
It is not necessary to link the biome default values (i.e., those found here: https://github.com/ebimodeling/ghgvc/blob/master/public/data/maps/biome_defaults.csv) to the original source. This is too complex, and will be thoroughly documented in our current in-prep publication. Please cite this-- "Anderson-Teixeira et al. (in prep)"-- for all of the values  default biome values matrix (https://git

[2017-04-06 20:22] potterzot commented on #100
@teixeirak thanks for the update. I am able to replicate this with Firefox so can work on it.

[2017-04-17 16:58] dlebauer opened #105 "Add citation / attribution info to results and csv download"
Most of the data used by the calculator are available for use with attribution.   Typically this means making it as easy as possible for users to identify and cite data products from which calculator output is derived.

### Possible implementation

It will be useful to have a list of sources provides
- on the results page, listed below the download buttons
- as machine-readable text, for example o

[2017-04-28 18:24] dlebauer commented on #58
Data are here: https://uofi.box.com/v/ghgvc-inputs

[2017-04-28 18:24] #58 closed

[2017-05-18 18:26] potterzot opened #107 "In biome parameter selection, round display of numerical data to appropriate digits."
Edit biome_defaults.csv to add a column with  number of digits for each variable.

[2017-05-18 18:27] potterzot commented on #107
Make 3 the default.

[2017-05-18 18:38] potterzot opened #108 "Uncomment RAMANKUTTY code in R and check that it works as expected."

[2017-05-18 18:47] potterzot opened #109 "Remove unneeded maps from biome selection script"
Remove [these lines](https://github.com/ebimodeling/ghgvcR/blob/master/R/biome.R#L150-L194)

[2017-05-19 13:21] teixeirak commented on #107
I added a column to biome_defaults.csv ("decimal_points") indicating the maximum number of digits after the decimal point that should be displayed for each variable. Note that this is the maximum--as opposed to the standard-- for each variable; we do not want to add zeroes when the original source has fewer decimal points.

[2017-05-19 13:40] teixeirak commented on #27
From my (perhaps faulty) understanding of biome.R, the biophysical data for all of the crops for which biophysics have been modeled (corn, soy, sugarcane, miscanthus, switchgrass) are being loaded, and the only obstacle to their being incorporated into the calculations is two lines of code (https://github.com/ebimodeling/ghgvcR/blob/master/R/biome.R#L446-L447) that set values for agroecosystems to

[2017-05-19 14:13] teixeirak opened #110 "make it possible to toggle between technical and layperson displays"
It would be nice to have a small switch at the top of the page allowing the user to toggle between technical and layperson displays. Differences would include:
1- graph (produced in R) would have different units and labels. Units would be driving equivalents (miles driven per 100sq. feet cleared), which would be calculated by applying a simple conversion factor prior to final calculated values pri

[2017-05-19 15:35] teixeirak commented on #101
My statement in the previous comment appears to be incorrect. Based on [these lines](https://github.com/ebimodeling/ghgvcR/blob/master/R/biome.R#L434-L440), the potential range of switchgrass and miscanthus is defined simply by where the map file is present. This leads to them showing up as options in inappropriate places.

We have modeled switchgrass and miscanthus yields in this folder: https://

[2017-05-20 02:36] teixeirak commented on #85
Here's a rough sketch of where I'd put the latitude-longitude entry:

<img width="1046" alt="screen shot 2017-05-19 at 10 31 04 pm" src="https://cloud.githubusercontent.com/assets/6355854/26272333/7929e668-3ce3-11e7-9573-915ab46aa272.png">

[2017-05-20 13:29] potterzot commented on #108
Moving this issue to the ghgvcR repo.

[2017-05-20 13:29] #108 closed

[2017-05-20 13:41] potterzot commented on #109
done in R

[2017-05-20 13:41] #109 closed

[2017-05-20 14:32] potterzot commented on #107
Thanks @teixeirak. I'm moving this issue to ghgvcR since that is where the rounding will happen and also where the values are read in and reported.

[2017-05-20 14:32] #107 closed

[2018-07-09 18:21] #22 closed

[2018-07-18 05:24] dlebauer opened #117 "Rserve error: unknown variable / method"
I get this on ebimodeling/ghgvc master branch when I do the following

1. Follow docker deploy commands in README
2. Click a bunch of places
3. Run the app

![8ba59bb0-3b9d-4c9e-9d0d-20ad31f4c11f](https://user-images.githubusercontent.com/464871/42861434-cb716016-8a0f-11e8-96ab-5f9c2231f39f.png)

The error text includes:

Completed 500 Internal Server Error ...

Rserve::Connnection::EvalError ...

[2018-11-02 20:33] teixeirak commented on #99
This may be fixed; need to check.

[2018-11-02 20:47] teixeirak commented on #117
@caseyhofford, is this where its currently stalling?

[2018-11-02 21:31] caseyhofford commented on #117
@teixeirak yes, this is the issue that causes some locations to never load.

[2018-11-02 22:20] caseyhofford commented on #117
![bug 117 detailed output](https://user-images.githubusercontent.com/8454154/47942225-cd06f700-deb6-11e8-9b1a-8906fa39b569.PNG)

The traceback here shows that the error is happening in ghgvcr, however I can't find the offending line of code.

`ghgvcr_1     | Error in if (string == "") x <- NA else if (string == "NA") x <- NA else if (string ==  :
ghgvcr_1     |   missing value where TRUE/FALSE nee

[2018-11-02 22:58] dlebauer commented on #117
Is it here: https://github.com/ebimodeling/ghgvcR/blob/master/R/helpers.R#L256 ?

[2018-11-02 23:01] dlebauer commented on #117
Are you running an interactive terminal, and if so, can you try

[code]

This will put you inside the function when it is evaluated before the error occurs.
?

Or, can you provide the output of `traceback()` after the error?

[2018-11-02 23:35] teixeirak commented on #117
Is the problem as simple as needing to move the x inside the quotes?

[2018-11-02 23:44] caseyhofford commented on #117
I was not using an interactive terminal but I will do that.
I need to clone ghgvcr on its own. I've just been debugging from the docker-compose image.
I was looking for any strange stuff in the JSON object being sent to R, but I will test those JSON objects directly in ghgvcr with the R debugger.

[2018-11-02 23:46] caseyhofford commented on #117
Not sure about x in quotes but I will try playing with the syntax of that line while debugging.

[2018-11-03 00:28] dlebauer commented on #117
OK here is a minimal working example of the error:

[code]

This works:

[code]

[2018-11-03 00:32] dlebauer commented on #117
See if https://github.com/ebimodeling/ghgvcR/pull/47 fixes this issue ...

[2018-11-03 02:30] caseyhofford opened #118 "Attempt to select less than one element in get1index"
Unlike #117 This error occurs on 'get_biome', before attempting to do any calculation.

Causes a different error in ghgvcr

[code]

This is probably happening here [biome.R#L328](https://github.com/ebimodeling/ghgvcR/blob/d53f01dedd280e367ca4ae775c342f793548bfee/R/biome.R#L328)

since this is the only location where as.list is used in ghgvcr

The full output from this error is below.

[code]

The

[2018-11-03 05:40] dlebauer commented on #118
biome_code <- subset(fao_biomes, CODE == tolower(res$fao))[[biome_code]]

Says find the subset of records in the fao_biomes data frame where the value of CODE is equal to res$fao converted to lower case, and then just take the values in the biome_code column

_____________________
David LeBauer, PhD
Director of Data Science for the Arizona Experiment Station
1230 N Cherry Avenue, Tucson, Arizona 8

[2018-11-03 12:47] teixeirak opened #119 "fix plot display"
There are three related issues that I believe were introduced upon addition of the option to display technical and non-technical output.

- [x] Please make the primary / default display the technical one.
- [x] The numbers on the graph output by R are the technical units (CO2 emission equivalents). It appears that an attempt was made to use the same plot with different axis labels, but this doesn'

[2018-11-03 12:49] teixeirak opened #120 "failed .csv file download"
When I try to download the .csv file (passed from R for user download), I get this:
<img width="844" alt="screen shot 2018-11-03 at 8 48 21 am" src="https://user-images.githubusercontent.com/6355854/47952425-58c76480-df45-11e8-871d-f0b5bdf17ec5.png">

[2018-11-03 12:53] teixeirak commented on #110
A first draft of this has been created. Now covered by issue #119.

[2018-11-03 12:53] #110 closed

[2018-11-03 12:57] teixeirak commented on #105
I will create an .md file listing all sources. I agree that it would be nice to recognize specific output from each run, but I'd rank that as non-essential for publication. If its easy and we have time/ capacity to do it, I'd be happy to provide guidance.

[2018-11-15 18:20] teixeirak commented on #99
These files no longer exist-- R communicates directly with Ruby. Thus, this issue should be resolved.

[2018-11-15 18:20] #99 closed

[2018-11-15 18:22] teixeirak commented on #120
This file should be passed back to Rails from R in a json file.

[2018-11-15 18:41] potterzot commented on #120
Just a comment here that may help: R passes a json string (not a file) back to the Rails server, and there is not a `download_csv` method in the [workflows_controller.rb](https://github.com/ebimodeling/ghgvc/blob/78143cbe7b24181fcab1b3c36633d6d74ec035e7/app/controllers/workflows_controller.rb#L1). I thought that there was this method in the past, and I wonder if @jaydorsey removed it in this commi

[2018-11-15 18:59] potterzot commented on #86
A few more thoughts that might be helpful:

The order of operations for the app is:

1. The user selects a lat/lon point. That point gets sent to R, which sends the available ecosystems back to Rails
2. The user clicks the edit box and has a list of map options for each value (i.e. a "Source"), or can input their own custom value.
3. The user clicks "run" and the parameters are sent to R.
4. The r

[2018-11-15 19:09] teixeirak opened #121 "create script to update biome_defaults.csv from ForC"
I'd like to be able to update [biome_defaults](https://github.com/ebimodeling/ghgvc/blob/master/public/data/maps/biome_defaults.csv) based on data from ForC (T1-T12 and S1 only). This should be an easy task for @ValentineHerr once I provide instructions, which is the next step.

[2018-11-15 19:26] teixeirak opened #122 "rename "data/maps" folder"
This is a small issue, but resolving it may reduce confusion for people learning the system. The  [public/data/maps folder](https://github.com/ebimodeling/ghgvc/tree/master/public/data/maps) does not actually contain maps, just a series of .csv files that guide classification of ecosystem types and assigning of default values. Let's rename it something like "ecosystem_definitions_and_defaults" (al

[2019-03-13 17:58] caseyhofford commented on #119
Encountering issues using svg injection libraries as they expect a file as an input, not a string.

[2019-03-13 18:02] teixeirak commented on #119
PNG files are fine with me.

[2019-03-13 18:10] caseyhofford commented on #119
https://github.com/ebimodeling/ghgvcR/blob/d53f01dedd280e367ca4ae775c342f793548bfee/R/plots.R#L44

I added an if statement here in GHGVCR because it looks to me like that for loop is supposed to only execute when the units are miles driven. It simply multiplies all crv values by 1.86. Is this the only adjustment that needs to be made to export the other chart? It seems to only change the second tw

[2019-03-13 18:15] caseyhofford commented on #120
There is a JS function called ConvertToCSV that creates a csv where every value is a row. The download csv button will just use this function to export a csv from the returned json object. A JS function could be written where rows are each selected biome, which might be better.

[2019-03-13 18:50] teixeirak commented on #120
What would be the difference in terms of output?

[2019-03-13 20:01] caseyhofford commented on #120
The current output looks like this

[code]

rather than having a row for Broadleaf_Evergreen_Forest with S_N2O, D_N2O, etc. as columns.

[2019-03-13 20:33] teixeirak commented on #120
It would be preferable to have those listed in columns.

[2019-03-13 20:38] teixeirak commented on #119
This sounds partially right. All that needs to be done is a simple multiplication, along with changing the text on the axis.
However, I don't understand why the biogeochemical portion doesn't change.

[2019-03-13 20:46] teixeirak commented on #119
I'm a bit confused. Please clarify what those two plots are? Before and after your changes? Or technical (Mg CO2) vs public (miles driven) version?

[2019-03-13 21:07] caseyhofford commented on #119
Sorry, that is technical vs. miles driven for the same point. Some plots seem to display exactly the same, some just the net value changes.

The changes should be consistent for all of the values, right?

[2019-03-13 21:09] teixeirak commented on #119
Yes, all values in the technical plot should be multiplied by the same factor (1.86, although I want to double check).

[2019-03-13 22:43] caseyhofford commented on #120
OK, that will be fairly easy to do.

[2019-03-13 23:30] caseyhofford commented on #119
OK, I am a little intimidated by the [plot_ghgv function](https://github.com/ebimodeling/ghgvcR/blob/d53f01dedd280e367ca4ae775c342f793548bfee/R/plots.R#L14).  It looks like these three variables "CRV_BGC", "CRV_BIOPHYS", "CRV_NET" are multiplied by that factor on [line 44 ](https://github.com/ebimodeling/ghgvcR/blob/d53f01dedd280e367ca4ae775c342f793548bfee/R/plots.R#L44) however the resulting char

[2019-03-13 23:50] caseyhofford commented on #119
OK, I think I fixed this, for some reason only some of the required fields were being multiplied in that loop. Try out a few at http://ghgvc.caseyhofford.com/ and let me know if the results look right.

[2019-03-13 23:51] caseyhofford commented on #119
And here's an example where it looks like everything adjusted correctly.
![image](https://user-images.githubusercontent.com/8454154/54321900-90f84700-45b8-11e9-81d6-54c4ab7d30a8.png)
![image](https://user-images.githubusercontent.com/8454154/54321910-99e91880-45b8-11e9-8571-52d78fca6c8d.png)

[2019-03-14 10:28] teixeirak commented on #119
This looks right from all I've seen.  Before closing this issue, there are several more, hopefully very easy, fixes:

- [ ] 1. The black dots on the graphs (representing net effects ) appear to be off in both the Biophysical and Climate Regulating Value panels. They are correct in the Biogeochemical panel. Here's what they should be:
Biogeochemical: net = ongoing exchange +  storage
Biophysical: n

[2019-03-14 16:14] teixeirak opened #124 "update conversion factor for miles driven"
The conversion factor from Mg CO2-eq to miles driven is approximately correct, but I need to update it with recent values for average car fuel economy and CO2 production per gallon gas, with citations.

[2019-03-14 16:15] teixeirak commented on #124
I recently retrieved these values:
8887 g CO2/ gallon gas burned, sensu EPA
Nov. 2016 average fuel economy of 21.6 mpg, sensu EPA.
These are not the values used in the current calculation, and should be updated.

[2019-08-01 18:15] ValentineHerr commented on #121
See results [here](https://github.com/forc-db/ForC/tree/master/for_calculator)

[2019-08-01 18:59] teixeirak commented on #121
Thanks! Next step is for me to give this a careful review.

[2019-09-21 10:52] teixeirak commented on #119
This looks great, thanks!
A couple little things I noticed on one output plot:

- [ ] there should be no dot on “local biophysical forcings” unless there’s data.
- [ ] also, I don't see a black dot for greenhouse gas value for cropland (I wonder if this is related to the above-- a little mixup when fixing `1` above?)

<img width="1028" alt="Screen Shot 2019-09-21 at 6 06 38 AM" src="https://user-i

[2019-09-21 10:57] teixeirak commented on #122
Related to this, at least some of the files in the main public/data/ folder are out of date (6 yrs old). Are any of them actually used? If not, we should delete or at least move to some "archive" folder to avoid confusing.

[2019-09-21 10:57] #120 closed

[2019-10-11 17:41] teixeirak commented on #119
The graphs are all correct as far as I can tell. Many thanks, @caseyhofford!

[2019-10-11 17:41] #119 closed

[2019-10-11 17:44] teixeirak commented on #86
We will no longer attempt to have this ready for the publication.

I'd definitely like to get to it someday.

[2019-10-11 17:53] teixeirak commented on #81
The last item in this issue (put an asterisk after the vegetation type(s) identified by SYNMAP) is now complete. Many thanks, @caseyhofford!

[2019-10-11 17:53] #81 closed

[2019-10-11 18:01] teixeirak commented on #103
I'm not sure where this is needed. It is correctly cited in the in-prep paper, so I will close this issue.

[2019-10-11 18:01] #103 closed

[2019-10-11 18:03] teixeirak commented on #101
@caseyhofford, it would be good to fix this prior to publication if possible/ not too difficult.

[2019-10-12 12:24] teixeirak opened #125 "re-instate specific acroecosystems"
In the previous version, we had several specific crop agroecosystems: maize, soy, sugarcane, switchgrass, miscanthus, but they have now disappeared.

We have range maps, model parameters, and biophysical data for these, so it would be worth re-instating these.

However, we're not going to hold up publication for these.

Issues #101 and #27 both relate to this. I will now close those issues, as the

[2019-10-12 12:25] teixeirak commented on #27
Closing this for now, as these ecosystems have disappeared from the current version. See issue #125.

[2019-10-12 12:25] #27 closed

[2019-10-12 12:25] teixeirak commented on #101
Closing for now, as these ecosystems are not included in the current version. See issue #125.

[2019-10-12 12:25] #101 closed

[2019-10-12 12:27] teixeirak commented on #118
@caseyhofford, is this still a problem?

[2019-10-12 12:28] teixeirak commented on #117
Is this still a problem?

[2019-10-12 13:43] teixeirak commented on #105
I have initiated the file GHGVC_Methods_Sources.pdf, which is housed in a private repository that I've created with materials supporting GHGVC.

The file is [here](https://github.com/teixeirak/ghgvc_KAT/tree/master/methods_sources).

@caseyhofford, this file will be linked to by the "Methods & Sources" link at the top of the calculator.

[2019-10-12 16:31] teixeirak commented on #124
I've updated calculations for converting  Mg CO2-eq/ha to driving equivalents. Two minor changes need to be made:
- [ ] new conversion.factor=3.0.  (diving equivalents = 3*GHGV)
- [ ] new units for driving equivalents (axis label): "miles driven per parking space area (135 ft^2)".

@caseyhofford, could you please make this update?

[2019-10-15 10:42] teixeirak commented on #121
Here are some things to fix (running list):
- [ ] these numbers appear to be in units of C (not sure why-- I know you had a line to convert to OM in the code).
- [ ] there are some sites with NA in `calculatior_Biome`. Why?
- [ ] in the previous iteration, we had to allow inclusion of some younger forests (several biome/ variable combinations) and managed sites in order to have sufficient data (se

[2020-03-30 18:58] caseyhofford commented on #124
Done in commit: fb1ee85f8a9e4a2a024e538a4dc3fab1acf274d7, will merge this in soon

[2020-03-30 19:10] caseyhofford opened #126 "Server won't start due to old .pid file"
When the app starts, sometimes the last process has not remove its server.pid file. This causes startup to fail. This is an issue in production because it requires manual intervention if the app or server restarts for any reason.

Reproduce:
1. Start rails app with docker-compose.
2. Force-close app with ctl-c
3. Restart app with docker-compose
4. See error message in console/logs:
`app_1     | A

[2020-03-30 19:29] caseyhofford commented on #117
@teixeirak yes, this issue is resolved with PR #47 . I tried approving the PR, but it doesn't seem to count my approval as meeting the requirements. Maybe if you approve it as well that PR can be completed? Or I may need to be added as a contributor and reviewer for the ghgvcR repository.

[2020-03-30 19:36] #117 closed

[2020-03-30 19:38] teixeirak commented on #117
I merged and added permissions for you on the repository.

[2020-03-30 19:39] teixeirak commented on #126
How do we solve this?

[2020-03-30 19:39] teixeirak commented on #124
Thanks!

[2020-03-30 19:39] #124 closed

[2020-03-30 20:56] caseyhofford commented on #118
@teixeirak this is still a problem.

This issue seems to happen if res$fao is "NA." for the selected coordinates and the biome code is "APX" or "GX".  I think this only happens when a point in the ocean is selected. I have added a check that just prints a message to the stdout.

This allows the requests to succeed, but it then allows biome types to be selected that don't make any sense for the oce

[2020-03-30 21:21] caseyhofford commented on #118
For now, I ghgvcR get_biome will return a JSON object containing an error message rather than thte biomes. The error could be used to notify a user. This prevents an error from occuring, and prevents any ecosystems from being displayed in the selector. :
![image](https://user-images.githubusercontent.com/8454154/77963136-b3c3cf00-7291-11ea-973c-e5506b96d646.png)

[2020-03-30 21:21] caseyhofford commented on #118
closed in commit 927c462b617d391d7afb7b81445690c24e23e5fa

[2020-03-30 21:21] #118 closed

[2020-03-30 23:01] caseyhofford commented on #118
It looks like FAO_Biomes has a 'water' code that would set the biome code to '0'. Is this what we want instead?

[2020-03-30 23:40] teixeirak commented on #118
Thanks for working on this. I think either is fine so long as no terrestrial biomes show up when the pin is dropped in the water.

[2020-04-01 11:46] teixeirak commented on #122
I deleted some outdated files in [this commit](https://github.com/ebimodeling/ghgvc/commit/8bd404225c2675a1c01633aed2692db3e6639b78). I think there are a couple others that are no longer used, but not sure.

[2020-04-02 21:23] caseyhofford commented on #122
Unfortunately only removing the files seems to break the app :/. I think this is mostly due to old code referencing these files.
So for now, the files in public/data are still technically being used by the rails app, though it seems like they don't have any real purpose. There are some global variables created that use these files, but it doesn't seem that the application uses these variables afte

[2020-04-02 22:21] teixeirak commented on #122
Okay, thanks for fixing that.

[2020-04-02 23:39] caseyhofford commented on #122
It was actually pretty easy to remove the references to the remaining files! I think I can also remove calculator.js and variable_db.json without any issues.

[2020-04-03 11:21] teixeirak commented on #122
Great! Yes, please do remove those others.

And, if its not too complicated, it would be great to move the files in "maps" up into "data" and delete "maps".

[2020-04-03 11:41] teixeirak opened #135 "No data for mountain zone grasslands"
For grasses we used the FAO climate classification system (as opposed to Koppen for all others) because IPCC grassland default values use this system. FAO climate classification includes “mountain zones”, which are pretty useless in terms of predicting vegetation (e.g., both the Sahara and the Amazon contain “tropical mountain zone”), so I didn’t include them, and we therefore have no data for gra

[2020-04-03 12:18] teixeirak opened #136 "Better handle missing values"
Currently, the calculator treats missing values essentially as zeros and still includes ecosystems with missing values in plots, with the following message below the plot:  "Black dots indicate net values, and are displayed when all components are quantified. Missing values (particularly common for biophysical components) indicate that climate regulating values cannot be calculated because of insu

[2020-04-03 20:33] caseyhofford opened #137 "New Hosting for app_data.zip"
The [download-netcdf.sh](https://github.com/ebimodeling/ghgvcR/blob/master/download-netcdf.sh) file in ghgvcR points to an old link https://www.dropbox.com/s/2g2x58fkolgnn76/app_data.zip?dl=1 that no longer has the data. We need to remake this zip file and host it somewhere new. It would probably be cheap/free to host on Google Cloud or DigitalOcean but there are many options available. It is too

[2020-04-03 20:35] caseyhofford commented on #122
OK, I think all of this data has moved into the app_data.zip file that is downloaded by running 'download-netcdf.sh' when the application is first run. This means we could probably remove the whole /maps folder, since the zip file will just recreate these files. I am testing to make sure this will work now.
That zip file needs to be moved to a new hosting option. It is [no longer available at the

[2020-04-03 20:41] teixeirak commented on #122
What about the .csv files that are currently in  /maps? Those should live on GitHub for easy editing.

[2020-04-03 20:46] teixeirak commented on #137
That works for now.

I believe there's also a copy on the UIUC server, but not open access. I believe @dlebauer can answer this.

[2020-04-03 20:53] dlebauer commented on #137
Not sure if it is possible to download using a script, but I think that this is the folder you are looking for on Box: https://uofi.box.com/v/ghgvc-inputs

[2020-04-03 21:02] caseyhofford commented on #122
OK, it looks like I was wrong, the /data folder for ghgvc is not shared with the /data folder for ghgvcR.
However, those CSV files exist both in this GitHub repo and in the Zip file. This could be an issue if they are edited here but not in the zip file. I am a little unclear on when the application uses data stored in the ghgvc repository and when it uses data from the zip file. It seems like at

[2020-04-03 21:05] teixeirak commented on #122
I have no idea. @dlebauer, can you answer this?

We definitely want the master version of the .csv files on GitHub for easy editing and version history.

[2020-04-03 21:21] dlebauer commented on #122
Sorry I am confused - I agree that there should be only one copy of the data and github is a good place for csv files. But it is not clear what the question is - I don't see a /data directory in the ghgvcR repository  https://github.com/ebimodeling/ghgvcR ?

[2020-04-03 21:24] teixeirak commented on #122
This is the directory in question: https://github.com/ebimodeling/ghgvc/tree/master/public/data. The .csv files are currently in the /maps folder of this directory (which makes no sense in terms of naming!). Can we confirm that the code is reading those?

[2020-04-03 21:36] dlebauer commented on #122
ghgvcR reads in the four csv files in data/maps here: https://github.com/ebimodeling/ghgvcR/blob/95b0186d388e515458a0953fb04378b54c564817/R/biome.R#L281

It is possible but unlikely (I haven't looked much since the refactoring and dockerization) that the download script puts another copy of these into a folder called data/maps that is then mounted to the docker container. My suggestion is to remov

[2020-04-03 22:33] caseyhofford commented on #122
I think the dockerization may have messed this up. From my testing, the code in biome.R is not impacted by changes to the 'data' directory in ghgvc. It finds those files in the Docker volume 'netcdf-data' which is populated in the [download-netcdf.sh script](https://github.com/ebimodeling/ghgvcR/blob/06aac5d6b66b431e5c8bd61b56a944980c74d733/download-netcdf.sh#L4). The [unzip -o](https://github.com

[2020-04-03 23:06] caseyhofford commented on #126
I think I can add a command to the docker-compose file that clears this each time it starts. It's not a huge problem, but I figured I should log an issue for it. I will try to include this in the next PR.

[2020-04-03 23:30] caseyhofford commented on #137
Thanks @dlebauer those are great to have, the structure of the folder there is a little different, but it has versions of most of the files we need. Thank you for all your help!

@teixeirak I think you mentioned that there are new soil maps you might want to swap in. I will wait to update this until we have those so I can package it up and put it all in one place. Thanks!!

[2020-04-04 11:45] teixeirak commented on #126
Okay, thanks!

[2020-04-04 12:36] teixeirak commented on #122
This seems to make sense, although my understanding of the structure is limited. If it works, please do it.

Unfortunately I can't answer this. @dlebauer?

[2020-04-04 12:39] teixeirak commented on #137
Okay, I will work on the soils map ([this issue](https://github.com/teixeirak/ghgvc_KAT/issues/1)).

[2020-04-04 19:15] dlebauer commented on #122
Yes I think all calculations should be done by the R package.

[2020-04-07 12:47] teixeirak commented on #122
@caseyhofford, FYI I have built a [Matlab script ](https://github.com/teixeirak/ghgvc_KAT/blob/master/scripts/biomass_defaults_update.m) to update biome_defaults.csv (in its current location, but can easily change that).

[2020-04-07 13:18] teixeirak commented on #121
@ValentineHerr - An update: I have created [this Matlab script](https://github.com/teixeirak/ghgvc_KAT/blob/master/scripts/biomass_defaults_update.m) to update [biome_defaults](https://github.com/ebimodeling/ghgvc/blob/master/public/data/maps/biome_defaults.csv).  I think its best for me to write this script because there are so many variables and biomes, including many outside the realm of ForC,

[2020-04-07 15:32] teixeirak opened #138 "fix variable names related to SOM in biome_defaults"
In [biome_defaults.csv](https://github.com/ebimodeling/ghgvc/blob/master/public/data/maps/biome_defaults.csv), 3 variables need to be renamed (proportional release of GHGs for each unit soil C decomposed:
Ed_CO2_litter --> Ed_CO2_SOC
Ed_CH4_litter --> Ed_CH4_SOC
Ed_N2O_litter --> Ed_N2O_SOC

I'm not changing at the moment because that might break R code.

[2020-04-07 16:03] ValentineHerr commented on #121
Ok @teixeirak, I'll wait on your list.
This is the link to the R script you are talking about (just to have it handy in this thread):
https://github.com/forc-db/ForC/blob/master/scripts/for_calculator/Calculate_Biome_defaults.R

[2020-04-07 20:28] teixeirak commented on #137
@caseyhofford, the map is now ready (see [this issue](https://github.com/teixeirak/ghgvc_KAT/issues/1)). I think this link should work: https://uofi.box.com/s/ckjponhqa7vlw084h8diyr7ve0nr4xso.

[2020-04-09 22:55] teixeirak commented on #121
Okay, here's the start of a list:
- [ ] these numbers appear to be in units of C, as opposed to OM. I'm not sure what's going on, as it looks like you convert it [here in the script](https://github.com/forc-db/ForC/blob/4db88fd04439cb9e443b2452e735fb581d318ceb/scripts/for_calculator/Calculate_Biome_defaults.R#L123-L124)
- [ ] there are some sites with NA or something like tropical/subtropical in `

[2020-04-22 01:29] #137 closed

[2020-04-22 01:32] caseyhofford commented on #122
@teixeirak I have moved the biome_defaults.csv to ghgvcr/data along with the other csvs. Once that PR is approved we can track the changes there instead. I don't think there is a way to maintain the history after moving these files between repositories, but that shouldn't be a problem.

[2020-04-22 01:37] caseyhofford opened #140 "CSV Download Bug"
Currently, the CSV download button only works the first time you hit it. Subsequent clicks generate this error
[code]

[2020-04-23 14:57] teixeirak commented on #122
Thanks, @caseyhofford !

[2020-04-23 14:57] #122 closed

[2020-04-24 11:50] teixeirak opened #141 "clean-up of edit biomes display"
@caseyhofford

Below is a screenshot of the edit ecosystems display.

I'd like to make two minor (and hopefully very easy) changes:
- [ ] remove the "source" boxes, as they aren't currently used. Please keep the structure to make them in the code, as the eventual ideal is to show the source and allow users to be able to select an alternate source.
- [ ] replace -9999 error values with NA or blanks

[2020-11-10 05:35] #140 closed

[2020-11-10 05:36] caseyhofford commented on #140
Fixed in PR #146

[2020-11-10 06:20] caseyhofford commented on #141
@teixeirak I have tried removing all values of -9999 from both the frontend and backend but haven't had any luck changing the default values in these fields. Is it possible these data points are coming from the netcdf data?

[2020-11-10 06:52] caseyhofford commented on #136
@teixeirak  The PRs I have merged should address case 1 & 2.

Is case 3 would these currently be displayed as empty rows on the plot? Is the criteria for not allowing the user to select a biome that the resulting plot would be empty?

[2020-11-20 12:43] teixeirak commented on #136
If the ecosystem is not described (case 3), or if there are missing biochemical data (case 2), my ideal would be to not allow the user to select the biome. Could we add a criterion that the check box to select the ecosystem only shows up if all the biogeochemical data are there? This would mean that ecosystems in case 2 and case 3 never show up. I'd also like to include barren lands in this catego

[2020-11-20 12:44] teixeirak commented on #135
This will be solved by #136 .

[2020-11-20 12:46] teixeirak commented on #141
@caseyhofford , I believe they're coming from biome_defaults.csv. Can I replace them with blanks or NA in that file without causing problems for the code?

[2020-12-13 04:17] caseyhofford commented on #136
Sounds good, it is definitely possible to exclude biomes based on missing data! Here is a list of fields that exist on the biomes returned from (`R/biome.R`)[https://github.com/ebimodeling/ghgvcR/blob/master/R/biome.R]. For the field names listed below do you know which ones being NaN/Zero should lead to a biome being excluded?

[code]

[2020-12-19 13:11] teixeirak commented on #136
Sorry for the delayed response.

## Required for any calculation
*(note that other parameters are, of course, technically required, but these are the ones that vary most among biomes and are essential for complete calculations)*

OM_ag
OM_root
OM_wood
OM_litter
OM_SOM (or f_vSOC, used to calculate OM_SOM from maps)
F_CO2
F_CH4
F_N2O

## Required for the biophysical calculations only
*(I don't thin

[2020-12-27 20:09] caseyhofford commented on #136
No worries Krista, I am taking just as long to follow up here...

Two more questions:

You mentioned that barren sites should not be selectable, but should be indicated:

Should this be done with an additional note (like the black dot note)? Or should something only appear when a barren biome is possible for that selection? Conditionally displaying the message will require more time than simply ex

[2021-04-25 12:10] teixeirak commented on #136
Correct.

Thanks for addressing this, and apologies for the very slow reply. (This came in while I was on vacation and got buried.)

[2022-10-06 21:17] dlebauer opened #165 "Error in web application"
When I open ecosystemservicescalc.org, the page doesn't load and I see the error below.

(Not sure if it is related, but builds have been failing since commit 84e61eaa32a945c4eedadbbf2c6e686385fa5066 from @caseyhofford)

[code]

stdout / stderr:

[code]

[2022-10-06 21:26] dlebauer opened #166 "Migrate to new CI"
Travis-CI.org was deprecated in 2021 and no longer builds https://www.travis-ci.org/ e.g. see https://travis-ci.org/github/ebimodeling/ghgvc/builds/751732653

* Could request a free account from Travis-CI.com. They don't appear to have a free plan for academic / open source projects but may be willing to consider a particular request from a small project like this.
* Migrate to GitHub actions (see

[2022-10-07 19:15] teixeirak commented on #166
Thanks for bringing this up, @dlebauer.

My team has been using GitHub actions a lot lately-- for example: [Kim et al. 2022, MEE](http://www.google.com/url?q=http%3A%2F%2Fdoi.org%2F10.1111%2F2041-210X.13982&sa=D&sntz=1&usg=AOvVaw1R3GDHaZahZDG5qpc-ySFc).

That said, I'm afraid it's just not working to try to publish & maintain the calculator.  It would take a fairly large (& growing) push to get it